<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EyJeMapper">
	
	<!--表名 -->
	<sql id="tableName">
		EY_JE
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		FUND_ID,	
		PERIOD,	
		SEQUENCE_NUM,	
		UNIQUE_JE_NUM,	
		EFFECTIVE_DATE,	
		ACCOUNT_NUM,	
		CURRENCY,	
		EXCHANGE_RATE,	
		DRCR,	
		AMOUNT_ENTERED,	
		AMOUNT_CNY,	
		AMOUNT_CNY_DRCR,	
		QUANTITY,	
		DESCRIPTION,	
		MAKER,	
		CHECKER,	
		CATEGORY,	
		ACTIVE,	
		STATUS,	
		POSTER,	
		JE_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{FUND_ID},	
		#{PERIOD},	
		#{SEQUENCE_NUM},	
		#{UNIQUE_JE_NUM},	
		#{EFFECTIVE_DATE},	
		#{ACCOUNT_NUM},	
		#{CURRENCY},	
		#{EXCHANGE_RATE},	
		#{DRCR},	
		#{AMOUNT_ENTERED},	
		#{AMOUNT_CNY},	
		#{AMOUNT_CNY_DRCR},	
		#{QUANTITY},	
		#{DESCRIPTION},	
		#{MAKER},	
		#{CHECKER},	
		#{CATEGORY},	
		#{ACTIVE},	
		#{STATUS},	
		#{POSTER},	
		#{JE_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			JE_ID = #{JE_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			FUND_ID = #{FUND_ID},
			PERIOD = #{PERIOD},
			SEQUENCE_NUM = #{SEQUENCE_NUM},
			UNIQUE_JE_NUM = #{UNIQUE_JE_NUM},
			EFFECTIVE_DATE = #{EFFECTIVE_DATE},
			ACCOUNT_NUM = #{ACCOUNT_NUM},
			CURRENCY = #{CURRENCY},
			EXCHANGE_RATE = #{EXCHANGE_RATE},
			DRCR = #{DRCR},
			AMOUNT_ENTERED = #{AMOUNT_ENTERED},
			AMOUNT_CNY = #{AMOUNT_CNY},
			AMOUNT_CNY_DRCR = #{AMOUNT_CNY_DRCR},
			QUANTITY = #{QUANTITY},
			DESCRIPTION = #{DESCRIPTION},
			MAKER = #{MAKER},
			CHECKER = #{CHECKER},
			CATEGORY = #{CATEGORY},
			ACTIVE = #{ACTIVE},
			STATUS = #{STATUS},
			POSTER = #{POSTER},
		JE_ID = JE_ID
		where 
		JE_ID = #{JE_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			JE_ID = #{JE_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!-- 根据需求自己加检索条件 -->
					ACCOUNT_NUM LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					PERIOD LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				
				)
		</if>
		<if test="pd.lastStart!= null and pd.lastStart != ''">
		    and EFFECTIVE_DATE &gt;= #{pd.lastStart}
		</if>
		
		<if test="pd.lastEnd!= null and pd.lastEnd != ''">
		    and EFFECTIVE_DATE &lt;= #{pd.lastEnd}
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			JE_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
</mapper>