<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ConcRuningMapper">
	
	<!--表名 -->
	<sql id="tableName">
		SYS_CONCRUNING
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		CONC_CODE,	
		START_DATETIME,	
		END_DATETIME,	
		RESULT,	
		MESSAGE,	
		OPERATOR,
		RUN_PARAM,
		CONCRUNING_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{CONC_CODE},	
		#{START_DATETIME},	
		#{END_DATETIME},	
		#{RESULT},	
		#{MESSAGE},	
		#{OPERATOR},
		#{RUN_PARAM},
		#{CONCRUNING_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			CONCRUNING_ID = #{CONCRUNING_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			CONC_CODE = #{CONC_CODE},
		    END_DATETIME = #{END_DATETIME},	
		    RESULT = #{RESULT},	
		    MESSAGE = #{MESSAGE},
		    RUN_PARAM = #{RUN_PARAM}
		where 
		CONCRUNING_ID = #{CONCRUNING_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			CONCRUNING_ID = #{CONCRUNING_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
	   select sr.CONC_CODE,
		      sc.CONC_DESCRIPTION CONC_NAME,
		      sr.START_DATETIME,	
		      sr.END_DATETIME,	
		      sr.RESULT,	
		      sr.MESSAGE,	
		      sr.OPERATOR,
		      sr.RUN_PARAM,
		      sr.CONCRUNING_ID
		 from sys_concruning sr,
		      sys_conc sc
		where sr.CONC_CODE = sc.CONC_CODE
		<!-- 关键词检索 -->
		<if test="pd.keywords!= null and pd.keywords != ''">
			and
				(
				<!-- 根据需求自己加检索条件 -->
					sr.CONC_CODE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					sc.CONC_DESCRIPTION LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				
				)
		</if>
		<if test="pd.lastStart!= null and pd.lastStart != ''">
		    and START_DATETIME &gt;= #{pd.lastStart}
		</if>
		
		<if test="pd.lastEnd!= null and pd.lastEnd != ''">
		    and START_DATETIME &lt;= #{pd.lastEnd}
		</if>
		<if test="pd.RESULT!= null and pd.RESULT != ''">
		    and sr.RESULT = #{pd.RESULT}
		</if>
		order by START_DATETIME desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 列表日志 -->
	<select id="listLog" parameterType="pd" resultType="pd">
		select
		  LOG_MSG_1,
		  LOG_MSG_2,
		  LOG_MSG_3,
		  LOG_MSG_4,
		  LOG_MSG_5,
		  LOG_MSG_6,
		  LOG_MSG_7,
		  LOG_MSG_8,
		  LOG_MSG_9,
		  LOG_MSG_10,
		  LOG_MSG_11,
		  LOG_MSG_12,
		  LOG_MSG_13,
		  LOG_MSG_14,
		  LOG_MSG_15,
		  LOG_MSG_16,
		  LOG_MSG_17,
		  LOG_MSG_18,
		  LOG_MSG_19,
		  LOG_MSG_20
		from sys_concrun_log
	   where CONCRUNING_ID = #{CONCRUNING_ID}
	</select>	
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			CONCRUNING_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 执行存储过程 -->
	<select id="runProcedure" statementType="CALLABLE" parameterType="pd">
      <![CDATA[call ${CONC_PROGRAM}(]]>
      <foreach item="item" index="index" collection="CONC_PARAM" separator=",">
          #{item}
      </foreach>
      <![CDATA[,#{RESULT,mode=OUT,jdbcType=VARCHAR},#{MESSAGE,mode=OUT,jdbcType=VARCHAR});]]>
	</select>
	
</mapper>