<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ConcParamMapper">
	
	<!--表名 -->
	<sql id="tableName">
		SYS_CONC_PARAM
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
	    SEQ,
		PARAM_CODE,	
		PARAM_NAME,	
		PARAM_TYPE,	
		CONC_VALUE,
		NULL_FLAG,
		CONC_PARAM_ID,
		CONC_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
	    #{SEQ},
		#{PARAM_CODE},	
		#{PARAM_NAME},	
		#{PARAM_TYPE},	
		#{CONC_VALUE},
		#{NULL_FLAG},	
		#{CONC_PARAM_ID},
		#{CONC_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			CONC_PARAM_ID = #{CONC_PARAM_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
		    SEQ = #{SEQ},
			PARAM_CODE = #{PARAM_CODE},
			PARAM_NAME = #{PARAM_NAME},
			PARAM_TYPE = #{PARAM_TYPE},
			CONC_VALUE = #{CONC_VALUE},
			NULL_FLAG  = #{NULL_FLAG}
		where 
		CONC_PARAM_ID = #{CONC_PARAM_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			CONC_PARAM_ID = #{CONC_PARAM_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
		CONC_ID = #{pd.CONC_ID}
		order by SEQ ASC
	</select>
	
	<!-- 参数列表 -->
	<select id="listParam" parameterType="page" resultType="pd">
		select
		  scp.SEQ,
		  scp.PARAM_CODE,	
		  scp.PARAM_NAME,	
		  scp.PARAM_TYPE,	
		  scp.CONC_VALUE,
		  scp.NULL_FLAG
		from 
		  SYS_CONC_PARAM scp,
		  SYS_CONC sc
		where scp.CONC_ID = sc.CONC_ID
		  and sc.CONC_CODE = #{pd.CONC_CODE}
		order by scp.SEQ DESC
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			CONC_PARAM_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 查询明细总数 -->
	<select id="findCount" parameterType="pd" resultType="pd">
		select
			count(*) zs
		from 
			<include refid="tableName"></include>
		where
			CONC_ID = #{CONC_ID}
	</select>
</mapper>