<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DataexportMapper">
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		SELECT sfi.FUND_ID,
		       prd.PERIOD,
               sfi.SHORT_NAME,
               smc.SHORT_NAME MGR_COMPANY
          FROM sys_fund_info sfi
     LEFT JOIN sys_mgrcompany smc
            ON sfi.FIRM_CODE = smc.COMPANY_CODE,
               (select d.BIANMA PERIOD
  from sys_dictionaries d 
 where d.PARENT_ID in (select sd.DICTIONARIES_ID 
                         from sys_dictionaries sd 
                        where sd.BIANMA = 'PERIOD')) prd
         WHERE 1 = 1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				    <!-- 根据需求自己加检索条件 -->
					sfi.FUND_ID LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					sfi.FULL_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				     or
				    smc.SHORT_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				)
		</if>
		<if test="pd.FIRM_CODE != null and pd.FIRM_CODE != ''">
		    and sfi.FIRM_CODE = #{pd.FIRM_CODE}
		</if>
		<if test="pd.FUND_ID != null and pd.FUND_ID != ''">
		    and sfi.FUND_ID = #{pd.FUND_ID}
		</if>
		<choose>
		    <when test="pd.PERIOD != null and pd.PERIOD != ''">
		        and prd.PERIOD = #{pd.PERIOD}
		    </when>
		    <otherwise>
                and prd.PERIOD = YEAR(SYSDATE())
            </otherwise>
		</choose>
	</select>
	
	
	<!-- 列表期间 -->
	<select id="listPeriod" parameterType="pd" resultType="pd">
		select d.BIANMA PERIOD,
               d.`NAME` PERIOD_NAME
          from sys_dictionaries d 
         where d.PARENT_ID in (select sd.DICTIONARIES_ID 
                                 from sys_dictionaries sd 
                                where sd.BIANMA = 'PERIOD')
         order by d.ORDER_BY asc
	</select>	
	
</mapper>