<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DataexportMapper">
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		SELECT sfi.FUND_ID,
		<choose>
		    <when test="pd.PERIOD != null and pd.PERIOD != ''">
		        #{pd.PERIOD}
		    </when>
		    <otherwise>
                concat(YEAR(now())-1,'1231')
            </otherwise>
		</choose> PERIOD,
        sfi.SHORT_NAME,
        smc.SHORT_NAME MGR_COMPANY,
        (SELECT COUNT(*) FROM wp_c c where c.FUND_ID = sfi.FUND_ID AND c.PERIOD = IFNULL('${pd.PERIOD}',concat(YEAR(now())-1,'1231'))) CFLAG,
        (SELECT COUNT(*) FROM wp_e e where e.FUND_ID = sfi.FUND_ID AND e.PERIOD = IFNULL('${pd.PERIOD}',concat(YEAR(now())-1,'1231'))) EFLAG,
        (SELECT COUNT(*) FROM wp_g g where g.FUND_ID = sfi.FUND_ID AND g.PERIOD = IFNULL('${pd.PERIOD}',concat(YEAR(now())-1,'1231'))) GFLAG,
        (SELECT COUNT(*) FROM wp_h h where h.FUND_ID = sfi.FUND_ID AND h.PERIOD = IFNULL('${pd.PERIOD}',concat(YEAR(now())-1,'1231'))) HFALG,
        (SELECT COUNT(*) FROM wp_n n where n.FUND_ID = sfi.FUND_ID AND n.PERIOD = IFNULL('${pd.PERIOD}',concat(YEAR(now())-1,'1231'))) NFLAG,
        (SELECT COUNT(*) FROM wp_p p where p.FUND_ID = sfi.FUND_ID AND p.PERIOD = IFNULL('${pd.PERIOD}',concat(YEAR(now())-1,'1231'))) PFLAG,
        (SELECT COUNT(*) FROM wp_t t where t.FUND_ID = sfi.FUND_ID AND t.PERIOD = IFNULL('${pd.PERIOD}',concat(YEAR(now())-1,'1231'))) TFLAG,
        (SELECT COUNT(*) FROM wp_u u where u.FUND_ID = sfi.FUND_ID AND u.PERIOD = IFNULL('${pd.PERIOD}',concat(YEAR(now())-1,'1231'))) UFLAG,
        (SELECT COUNT(*) FROM wp_v300 v where v.FUND_ID = sfi.FUND_ID AND v.PERIOD = IFNULL('${pd.PERIOD}',concat(YEAR(now())-1,'1231'))) VFLAG,
        (SELECT COUNT(*) FROM wp_i_rp i where i.FUND_ID = sfi.FUND_ID AND i.PERIOD = IFNULL('${pd.PERIOD}',concat(YEAR(now())-1,'1231'))) IFLAG
          FROM sys_fund_info sfi
     LEFT JOIN sys_mgrcompany smc
            ON sfi.FIRM_CODE = smc.COMPANY_CODE
         WHERE 1 = 1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				    <!-- 根据需求自己加检索条件 -->
					sfi.FUND_ID LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					sfi.FULL_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				     or
				    smc.SHORT_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				)
		</if>
		<if test="pd.FIRM_CODE != null and pd.FIRM_CODE != ''">
		    and sfi.FIRM_CODE = #{pd.FIRM_CODE}
		</if>
		<if test="pd.FUND_ID != null and pd.FUND_ID != ''">
		    and sfi.FUND_ID = #{pd.FUND_ID}
		</if>
	</select>
	
	
	<!-- 列表期间 -->
	<select id="listPeriod" parameterType="pd" resultType="pd">
		select d.BIANMA PERIOD,
               d.`NAME` PERIOD_NAME
          from sys_dictionaries d 
         where d.PARENT_ID in (select sd.DICTIONARIES_ID 
                                 from sys_dictionaries sd 
                                where sd.BIANMA = 'PERIOD')
         order by d.ORDER_BY asc
	</select>	
	
</mapper>