<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MgrcompanyMapper">
	
	<!--表名 -->
	<sql id="tableName">
		SYS_MGRCOMPANY
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		COMPANY_CODE,	
		SHORT_NAME,	
		FULL_NAME,	
		ORIGINAL_NAME,	
		ADDRESS,	
		ACTIVE,	
		MGRCOMPANY_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{COMPANY_CODE},	
		#{SHORT_NAME},	
		#{FULL_NAME},	
		#{ORIGINAL_NAME},	
		#{ADDRESS},	
		#{ACTIVE},	
		#{MGRCOMPANY_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			MGRCOMPANY_ID = #{MGRCOMPANY_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			COMPANY_CODE = #{COMPANY_CODE},
			SHORT_NAME = #{SHORT_NAME},
			FULL_NAME = #{FULL_NAME},
			ORIGINAL_NAME = #{ORIGINAL_NAME},
			ADDRESS = #{ADDRESS},
			ACTIVE = #{ACTIVE},
		MGRCOMPANY_ID = MGRCOMPANY_ID
		where 
		MGRCOMPANY_ID = #{MGRCOMPANY_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			MGRCOMPANY_ID = #{MGRCOMPANY_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				    <!-- 根据需求自己加检索条件 -->
					COMPANY_CODE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					SHORT_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
					 or 
					FULL_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				
				)
		</if>
		<if test="pd.ACTIVE != null and pd.ACTIVE != ''">
		    and ACTIVE = #{pd.ACTIVE}
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			MGRCOMPANY_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 底稿导出时查询管理公司基本信息 daigaokuo@hotmail.com 17-12-06 -->
    <select id="selectCompanyInfo" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
		    sm.SHORT_NAME AS shortName,
		    sm.FULL_NAME AS fullName,
		    sm.ORIGINAL_NAME AS originalName 
		FROM
		    sys_mgrcompany sm 
		WHERE
		    1 = 1 
        AND sm.ACTIVE = 'Y'
        AND sm.COMPANY_CODE = #{companyCode}
        LIMIT 1
    </select>
	
</mapper>