<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TermHeadMapper">
	
	<!--表名 -->
	<sql id="tableName">
		SYS_TERM_HEAD
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		TERMHEAD_ID,	
		TERM_TYPE,	
		NAME,
		METHOD,
		PREV_RANGE,
		DESCRIPTION,	
		ACTIVE
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{TERMHEAD_ID},	
		#{TERM_TYPE},
		#{NAME},
		#{METHOD},
		#{PREV_RANGE},
		#{DESCRIPTION},	
		#{ACTIVE}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			TERMHEAD_ID = #{TERMHEAD_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			TERM_TYPE = #{TERM_TYPE},
			NAME = #{NAME},
			METHOD = #{METHOD},
			PREV_RANGE = #{PREV_RANGE},
			DESCRIPTION = #{DESCRIPTION},
			ACTIVE = #{ACTIVE}
		where 
		TERMHEAD_ID = #{TERMHEAD_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			TERMHEAD_ID = #{TERMHEAD_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				    <!-- 根据需求自己加检索条件 -->
					TERMHEAD_ID LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					TERM_TYPE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
					 or 
					NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			TERMHEAD_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
</mapper>