<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TrxCalendarMapper">
	
	<!--表名 -->
	<sql id="tableName">
		SYS_TRXCALENDAR
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		TRX_DATE,	
		TRX_SYMBOL,	
		COMMENTS,	
		TRXCALENDAR_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{TRX_DATE},	
		#{TRX_SYMBOL},	
		#{COMMENTS},	
		#{TRXCALENDAR_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			TRXCALENDAR_ID = #{TRXCALENDAR_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			TRX_DATE = #{TRX_DATE},
			TRX_SYMBOL = #{TRX_SYMBOL},
			COMMENTS = #{COMMENTS}
		where 
		TRXCALENDAR_ID = #{TRXCALENDAR_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			TRXCALENDAR_ID = #{TRXCALENDAR_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件 -->
					TRX_DATE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		<if test="pd.lastStart!= null and pd.lastStart != ''">
		    and TRX_DATE &gt;= #{pd.lastStart}
		</if>
		<if test="pd.lastEnd!= null and pd.lastEnd != ''">
		    and TRX_DATE &lt;= #{pd.lastEnd}
		</if>
		<if test="pd.TRX_SYMBOL != null and pd.TRX_SYMBOL != ''">
		    and TRX_SYMBOL = #{pd.TRX_SYMBOL}
		</if>
		ORDER BY TRX_DATE DESC
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			TRXCALENDAR_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
		<!-- 批量新增-->
	<insert id="saveBatch" parameterType="java.util.List">
		insert into 
	        <include refid="tableName"></include>
		(
	        <include refid="Field"></include>
		) values 
		<foreach collection ="list" item="pd" index= "index" separator =",">
         (
             #{pd.TRX_DATE},	
		     #{pd.TRX_SYMBOL},	
		     #{pd.COMMENTS},	
		     #{pd.TRXCALENDAR_ID}
         )
         </foreach >
	</insert>
	
</mapper>