<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WorkPaperMapper">
	
	<!--表名 -->
	<sql id="tableName">
		SYS_WORK_PAPER
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		RUN_PARAM,	
		OPERATOR,	
		RUN_DATETIME,	
		OUTBOND_PATH,	
		RESULT,	
		MESSAGE,	
		WORKPAPER_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{RUN_PARAM},	
		#{OPERATOR},	
		#{RUN_DATETIME},	
		#{OUTBOND_PATH},	
		#{RESULT},	
		#{MESSAGE},	
		#{WORKPAPER_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			WORKPAPER_ID = #{WORKPAPER_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			RUN_PARAM = #{RUN_PARAM},
			OPERATOR = #{OPERATOR},
			RUN_DATETIME = #{RUN_DATETIME},
			OUTBOND_PATH = #{OUTBOND_PATH},
			RESULT = #{RESULT},
			MESSAGE = #{MESSAGE},
		WORKPAPER_ID = WORKPAPER_ID
		where 
		WORKPAPER_ID = #{WORKPAPER_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			WORKPAPER_ID = #{WORKPAPER_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!-- 根据需求自己加检索条件 -->
					RUN_PARAM LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					OPERATOR LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				)
		</if>
		<if test="pd.lastStart!= null and pd.lastStart != ''">
		    and RUN_DATETIME &gt;= #{pd.lastStart}
		</if>
		<if test="pd.lastEnd!= null and pd.lastEnd != ''">
		    and RUN_DATETIME &lt;= #{pd.lastEnd}
		</if>
		<if test="pd.RESULT != null and pd.RESULT != ''">
		    and RESULT = #{pd.RESULT}
		</if>
		order by RUN_DATETIME desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			WORKPAPER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 获得待导出的基金信息 -->
	<!-- Dai Zong -->
	<!-- 2018-01-01 -->
    <select id="selectFundInfos" parameterType="java.util.Map" resultType="com.ey.util.PageData">
        SELECT 
            sfi.FUND_ID,
            sfi.FIRM_CODE,
            sfi.SHORT_NAME,
            smc.SHORT_NAME MGR_COMPANY,
            (SELECT COUNT(*) FROM sys_concrecord c where c.WP_TYPE = 'C' AND c.STATUS='S' AND c.FUND_ID = sfi.FUND_ID AND c.PERIOD = #{PERIOD}) CFLAG,
        	(SELECT COUNT(*) FROM sys_concrecord e where e.WP_TYPE = 'E' AND e.STATUS='S' AND e.FUND_ID = sfi.FUND_ID AND e.PERIOD = #{PERIOD}) EFLAG,
        	(SELECT COUNT(*) FROM sys_concrecord g where g.WP_TYPE = 'G' AND g.STATUS='S' AND g.FUND_ID = sfi.FUND_ID AND g.PERIOD = #{PERIOD}) GFLAG,
        	(SELECT COUNT(*) FROM sys_concrecord h where h.WP_TYPE = 'H' AND h.STATUS='S' AND h.FUND_ID = sfi.FUND_ID AND h.PERIOD = #{PERIOD}) HFLAG,
        	(SELECT COUNT(*) FROM sys_concrecord n where n.WP_TYPE = 'N' AND n.STATUS='S' AND n.FUND_ID = sfi.FUND_ID AND n.PERIOD = #{PERIOD}) NFLAG,
        	(SELECT COUNT(*) FROM sys_concrecord p where p.WP_TYPE = 'P' AND p.STATUS='S' AND p.FUND_ID = sfi.FUND_ID AND p.PERIOD = #{PERIOD}) PFLAG,
        	(SELECT COUNT(*) FROM sys_concrecord t where t.WP_TYPE = 'T' AND t.STATUS='S' AND t.FUND_ID = sfi.FUND_ID AND t.PERIOD = #{PERIOD}) TFLAG,
        	(SELECT COUNT(*) FROM sys_concrecord u where u.WP_TYPE = 'U' AND u.STATUS='S' AND u.FUND_ID = sfi.FUND_ID AND u.PERIOD = #{PERIOD}) UFLAG,
        	(SELECT COUNT(*) FROM sys_concrecord v where v.WP_TYPE = 'V' AND v.STATUS='S' AND v.FUND_ID = sfi.FUND_ID AND v.PERIOD = #{PERIOD}) VFLAG,
        	(SELECT COUNT(*) FROM sys_concrecord i where i.WP_TYPE = 'I' AND i.STATUS='S' AND i.FUND_ID = sfi.FUND_ID AND i.PERIOD = #{PERIOD}) IFLAG,
        	(SELECT COUNT(*) FROM sys_concrecord o where o.WP_TYPE = 'O' AND o.STATUS='S' AND o.FUND_ID = sfi.FUND_ID AND o.PERIOD = #{PERIOD}) OFLAG,
        	(SELECT COUNT(*) FROM sys_concrecord sa where sa.WP_TYPE = 'SA' AND sa.STATUS='S' AND sa.FUND_ID = sfi.FUND_ID AND sa.PERIOD = #{PERIOD}) SAFLAG
        FROM sys_fund_info sfi
        LEFT JOIN sys_mgrcompany smc ON sfi.FIRM_CODE = smc.COMPANY_CODE
        WHERE 1 = 1
        <if test="FIRM_CODE != null and FIRM_CODE != ''">
            and sfi.FIRM_CODE = #{FIRM_CODE}
        </if>
        <if test="FUND_ID != null and FUND_ID != ''">
            and sfi.FUND_ID = #{FUND_ID}
        </if>
    </select>
    
</mapper>