<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EExportMapper">
    <select id="selectEData" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            E.EY_ACCOUNT_NUM AS accountNum,
            E.AMOUNT_CURRENT AS amountCurrent,
            E.AMOUNT_ADJ_CR AS crAmountAdj,
            E.AMOUNT_ADJ_DR AS drAmountAdj,
            E.AMOUNT_AUDIT_LAST AS amountAuditLast
        FROM
            wp_e E
        where 
            1 = 1
        and E.STATUS = 'Y'
        and E.FUND_ID = #{fundId}
        and E.PERIOD = #{period}
    </select>
    
    <select id="selectE300MainData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    E300.ATTR1 as item, 
		    E300.BEGIN_BALANCE_CNY as beginBalance,
		    E300.END_BALANCE_CNY as endBalance
		FROM
		    wp_e300 E300
        where 
            1 = 1
        and E300.STATUS = 'Y'
        and E300.FUND_ID = #{fundId}
        and E300.PERIOD = #{period}
    </select>
    
    <select id="selectE300DiscData" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
		    E300D.ITEM as item,
		    E300D.SORT as sort,
		    IF(E300D.END_BALANCE = 0, null, E300D.END_BALANCE) as endBalance,
		    IF(E300D.BEGIN_BALANCE = 0, null, E300D.BEGIN_BALANCE) as beginBalance
		FROM
		    wp_e300_dis E300D
        where 
            1 = 1
        and E300D.STATUS = 'Y'
        and E300D.FUND_ID = #{fundId}
        and E300D.PERIOD = #{period}
        ORDER BY
            E300D.SORT
    </select>
    
    <select id="selectE300DiscSumDataForReport" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            IF(SUM(E300D.END_BALANCE) = 0, null, SUM(E300D.END_BALANCE)) as endBalance,
            IF(SUM(E300D.BEGIN_BALANCE) = 0, null, SUM(E300D.BEGIN_BALANCE)) as beginBalance
        FROM
            wp_e300_dis E300D
        where 
            1 = 1
        and E300D.STATUS = 'Y'
        and E300D.FUND_ID = #{fundId}
        and E300D.PERIOD = #{period}
        LIMIT 1
    </select>
    
    <select id="checkIfE300DiscHasDataForReport" parameterType="java.util.Map" resultType="java.lang.Double">
        SELECT
            SUM(IFNULL(E300D.END_BALANCE, 0)) + SUM(IFNULL(E300D.BEGIN_BALANCE, 0))
        FROM
            wp_e300_dis E300D
        where 
            1 = 1
        and E300D.STATUS = 'Y'
        and E300D.FUND_ID = #{fundId}
        and E300D.PERIOD = #{period}
    </select>
    
    <select id="selectE310Data" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    E310.ATTR2 as item, 
		    E310.BEGIN_BALANCE_CNY as beginBalance,
		    E310.END_BALANCE_CNY as endBalance
		FROM
		    wp_e310 E310
        where 
            1 = 1
        and E310.STATUS = 'Y'
        and E310.FUND_ID = #{fundId}
        and E310.PERIOD = #{period}
    </select>
    
    <select id="selectE400Data" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    E400.ATTR1 AS detailName,
		    IFNULL(E400.BEGIN_BALANCE_CNY, 0) AS beginBalance,
		    IFNULL(E400.DR_AMOUNT_CNY, 0) AS drAmount,
		    IFNULL(E400.CR_AMOUNT_CNY, 0) AS crAmount,
		    E400.INTEREST as interest
		FROM
		    wp_e400 E400
        where 
            1 = 1
        and E400.STATUS = 'Y'
        and E400.FUND_ID = #{fundId}
        and E400.PERIOD = #{period}
    </select>
    
    <select id="selectE500Data" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    E500.ATTR1 AS detailName,
		    E500.BEGIN_BALANCE_CNY AS beginBalance,
		    E500.END_BALANCE_CNY as endBalance
		FROM
		    wp_e500 E500
        where 
            1 = 1
        and E500.STATUS = 'Y'
        and E500.FUND_ID = #{fundId}
        and E500.PERIOD = #{period}
    </select>
    
    <select id="selectE600Data" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    E600.ATTR1 as item,
		    E600.ATTR4 as detailName,
		    E600.BEGIN_BALANCE_CNY as beginBalance,
		    E600.END_BALANCE_CNY as endBalance
		FROM
		    wp_e600 E600
        where 
            1 = 1
        and E600.STATUS = 'Y'
        and E600.FUND_ID = #{fundId}
        and E600.PERIOD = #{period}
    </select>
</mapper>