<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EExportMapper">
    <select id="selectEData" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            E.EY_ACCOUNT_NUM AS accountNum,
            E.AMOUNT_CURRENT AS amountCurrent,
            E.AMOUNT_ADJ_CR AS crAmountAdj,
            E.AMOUNT_ADJ_DR AS drAmountAdj,
            E.AMOUNT_AUDIT_LAST AS amountAuditLast
        FROM
            wp_e E
        where 
            1 = 1
        and E.STATUS = 'Y'
        and E.FUND_ID = #{fundId}
        and E.PERIOD = #{period}
    </select>
    
    <select id="selectE300MainData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    E300.ATTR1 as item, 
		    E300.ATTR5 as discType,
		    IF(
		        E300.ATTR1 = '应收债券利息' OR E300.ATTR1 = '应收资产支持证券利息',
		        E300.ATTR4,
		        E300.ATTR2
		    ) as detailName,
		    E300.BEGIN_BALANCE_CNY as beginBalance,
		    E300.END_BALANCE_CNY as endBalance
		FROM
		    wp_e300 E300
        where 
            1 = 1
        and E300.STATUS = 'Y'
        and E300.FUND_ID = #{fundId}
        and E300.PERIOD = #{period}
    </select>
    
    <select id="selectE300DiscData" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
		    E300D.ITEM as item,
		    E300D.END_BALANCE as endBalance,
		    E300D.BEGIN_BALANCE as beginBalance
		FROM
		    wp_e300_dis E300D
        where 
            1 = 1
        and E300D.STATUS = 'Y'
        and E300D.FUND_ID = #{fundId}
        and E300D.PERIOD = #{period}
        ORDER BY
            E300D.SORT
    </select>
    
    <select id="selectE400Data" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    E400.ATTR1 AS detailName,
		    IFNULL(E400.BEGIN_BALANCE_CNY, 0) AS beginBalance,
		    IFNULL(E400.DR_AMOUNT_CNY, 0) AS drAmount,
		    IFNULL(E400.CR_AMOUNT_CNY, 0) AS crAmount,
		    E400.INTEREST as interest
		FROM
		    wp_e400 E400
        where 
            1 = 1
        and E400.STATUS = 'Y'
        and E400.FUND_ID = #{fundId}
        and E400.PERIOD = #{period}
    </select>
    
    <select id="selectE410RuleData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    E410R.TYPE as type,
		    E410R.ATTR1 as attr1,
		    E410R.ATTR2 as attr2,
		    E410R.ATTR3 as attr3,
		    E410R.ATTR4 as attr4,
		    E410R.ATTR5 as attr5,
		    E410R.ATTR6 as attr6,
		    E410R.ATTR7 as attr7,
		    E410R.ATTR8 as attr8,
		    E410R.ATTR9 as attr9
		FROM
		    sys_fund_trx_rule E410R
        where 
            1 = 1
        and E410R.ACTIVE = 'Y'
        and E410R.FUND_ID = #{fundId}
        and E410R.PERIOD = #{period}
    </select>
    
    <select id="selectE410TrxDayData" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
		    DATE_FORMAT(E410T.CONFIRM_DATE,'%Y-%m-%dT00:00:00.000') as confirmDate,
		    DATE_FORMAT(E410T.ATTR1,'%Y-%m-%dT00:00:00.000') as attr1,
		    DATE_FORMAT(E410T.ATTR2,'%Y-%m-%dT00:00:00.000') as attr2,
		    DATE_FORMAT(E410T.ATTR3,'%Y-%m-%dT00:00:00.000') as attr3,
		    DATE_FORMAT(E410T.ATTR4,'%Y-%m-%dT00:00:00.000') as attr4,
		    DATE_FORMAT(E410T.ATTR5,'%Y-%m-%dT00:00:00.000') as attr5,
		    DATE_FORMAT(E410T.ATTR6,'%Y-%m-%dT00:00:00.000') as attr6,
		    DATE_FORMAT(E410T.ATTR7,'%Y-%m-%dT00:00:00.000') as attr7,
		    DATE_FORMAT(E410T.ATTR8,'%Y-%m-%dT00:00:00.000') as attr8,
		    DATE_FORMAT(E410T.ATTR9,'%Y-%m-%dT00:00:00.000') as attr9
		FROM
		    wp_e410_trxday E410T
        where 
            1 = 1
        and E410T.STATUS = 'Y'
        and E410T.FUND_ID = #{fundId}
        and E410T.PERIOD = #{period}
        ORDER BY E410T.CONFIRM_DATE desc
    </select>
    
    <select id="selectE410SummaryData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    DATE_FORMAT(E410S.TRX_DATE,'%Y-%m-%dT00:00:00.000') AS trxDate,
		    E410S.ATTR1 AS attr1,
		    E410S.ATTR2 AS attr2,
		    E410S.ATTR3 AS attr3,
		    E410S.ATTR4 AS attr4,
		    E410S.ATTR5 AS attr5,
		    E410S.ATTR6 AS attr6,
		    E410S.ATTR7 AS attr7,
		    E410S.ATTR8 AS attr8,
		    E410S.ATTR9 AS attr9
		FROM
		    wp_e410_summary E410S
        where 
            1 = 1
        and E410S.STATUS = 'Y'
        and E410S.FUND_ID = #{fundId}
        and E410S.PERIOD = #{period}
        ORDER BY E410S.TRX_DATE desc
    </select>
    
    <select id="selectE410ApArTestData" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
		    E410A.ITEM as item,
		    E410A.END_BALANCE_CLIENT as endBalanceClinet
		FROM
		    wp_e410_apar_test E410A
        where 
            1 = 1
        and E410A.STATUS = 'Y'
        and E410A.FUND_ID = #{fundId}
        and E410A.PERIOD = #{period}
    </select>
    
    <select id="selectE410PeriodAfterTestData" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            'AntiNull' AS antiNull,
		    DATE_FORMAT(E410P.TRX_DATE,'%Y-%m-%dT00:00:00.000') as trxDate,
		    E410P.SETTLEMENT_AMOUNT as settlementAmount
		FROM
		    wp_e410_period_after_test E410P
        where 
            1 = 1
        and E410P.STATUS = 'Y'
        and E410P.FUND_ID = #{fundId}
        and E410P.PERIOD = #{period}
        ORDER BY E410P.SEQ
    </select>
    
    <select id="selectE41XDealerFlagData" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            FI.DIRECT_DEALER_NAME as dealerName,
		    IFNULL(FI.DEALER_SEPERATE,'N') as dealerFlag
		FROM
		    sys_fund_info FI
		where
		     1 = 1
		and FI.FUND_ID = #{fundId}
		LIMIT 1
    </select>
    
    <select id="selectE41XDetailData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    E410S.TRX_DATE as trxDate,
		    E41X.TRX_TYPE as trxType,
		    E41X.DEALER as dealer,
		    E41X.TRX_QUANTITY as trxQuantity,
		    E41X.TRX_AMOUNT as trxAmount,
		    E41X.TRX_FEE as trxFee,
		    E41X.BACKEND_FEE as backendFee,
		    E41X.CONFIRMED_AMOUNT as confirmedAmount
		FROM
		    ey_daily_settlement E41X
		INNER JOIN wp_e410_summary E410S ON (
		    E410S.TRX_DATE = E41X.TRX_DATE
		    and E410S.FUND_ID = E41X.FUND_ID
		    and E410S.PERIOD = E41X.PERIOD
		)
		where 
		    1 = 1
		and E41X.FUND_ID = #{fundId}
		and E41X.PERIOD = #{period}
		ORDER BY E41X.TRX_DATE,E41X.SEQ
    </select>
    
    <select id="selectE500Data" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    E500.ATTR1 AS detailName,
		    E500.BEGIN_BALANCE_CNY AS beginBalance,
		    E500.END_BALANCE_CNY as endBalance
		FROM
		    wp_e500 E500
        where 
            1 = 1
        and E500.STATUS = 'Y'
        and E500.FUND_ID = #{fundId}
        and E500.PERIOD = #{period}
    </select>
    
    <select id="selectE600Data" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    E600.ATTR1 as item,
		    E600.ATTR4 as detailName,
		    E600.BEGIN_BALANCE_CNY as beginBalance,
		    E600.END_BALANCE_CNY as endBalance
		FROM
		    wp_e600 E600
        where 
            1 = 1
        and E600.STATUS = 'Y'
        and E600.FUND_ID = #{fundId}
        and E600.PERIOD = #{period}
    </select>
</mapper>