<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EyvaluationMapper">
	
	<!--表名 -->
	<sql id="tableName">
		EY_VALUATION
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		FUND_ID,	
		PERIOD,	
		EY_ACCOUNT_NUM,	
		CURRENCY,	
		EXCHANGE_RATE,	
		QUANTITY,	
		UNIT_COST,	
		TOTAL_COST_ENTERED,	
		TOTAL_COST_CNY,	
		UNIT_PRICE,	
		MKT_VALUE_ENTERED,	
		MKT_VALUE_CNY,	
		APPRECIATION_ENTERED,	
		APPRECIATION_CNY,	
		SUSPENSION_INFO,	
		DESCRIPTION,	
		ACTIVE,	
		STATUS,	
		ATTR1,	
		ATTR2,	
		ATTR3,	
		ATTR4,	
		ATTR5,	
		ATTR6,	
		VALUATION_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{FUND_ID},	
		#{PERIOD},	
		#{EY_ACCOUNT_NUM},	
		#{CURRENCY},	
		#{EXCHANGE_RATE},	
		#{QUANTITY},	
		#{UNIT_COST},	
		#{TOTAL_COST_ENTERED},	
		#{TOTAL_COST_CNY},	
		#{UNIT_PRICE},	
		#{MKT_VALUE_ENTERED},	
		#{MKT_VALUE_CNY},	
		#{APPRECIATION_ENTERED},	
		#{APPRECIATION_CNY},	
		#{SUSPENSION_INFO},	
		#{DESCRIPTION},	
		#{ACTIVE},	
		#{STATUS},	
		#{ATTR1},	
		#{ATTR2},	
		#{ATTR3},	
		#{ATTR4},	
		#{ATTR5},	
		#{ATTR6},	
		#{VALUATION_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			VALUATION_ID = #{VALUATION_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			FUND_ID = #{FUND_ID},
			PERIOD = #{PERIOD},
			EY_ACCOUNT_NUM = #{EY_ACCOUNT_NUM},
			CURRENCY = #{CURRENCY},
			<if test="EXCHANGE_RATE != null and EXCHANGE_RATE != ''">
			EXCHANGE_RATE = #{EXCHANGE_RATE},
			</if>
			<if test="QUANTITY != null and QUANTITY != ''">
			QUANTITY = #{QUANTITY},
			</if>
			<if test="UNIT_COST != null and UNIT_COST != ''">	
			UNIT_COST = #{UNIT_COST},
			</if>
			TOTAL_COST_ENTERED = #{TOTAL_COST_ENTERED},
			TOTAL_COST_CNY = #{TOTAL_COST_CNY},
			<if test="UNIT_PRICE != null and UNIT_PRICE != ''">			
			UNIT_PRICE = #{UNIT_PRICE},
			</if>
			<if test="MKT_VALUE_ENTERED != null and MKT_VALUE_ENTERED != ''">	
			MKT_VALUE_ENTERED = #{MKT_VALUE_ENTERED},
			</if>
			<if test="MKT_VALUE_CNY != null and MKT_VALUE_CNY != ''">	
			MKT_VALUE_CNY = #{MKT_VALUE_CNY},
			</if>
			<if test="APPRECIATION_ENTERED != null and APPRECIATION_ENTERED != ''">	
			APPRECIATION_ENTERED = #{APPRECIATION_ENTERED},
			</if>
			<if test="APPRECIATION_CNY != null and APPRECIATION_CNY != ''">					
			APPRECIATION_CNY = #{APPRECIATION_CNY},
			</if>
			SUSPENSION_INFO = #{SUSPENSION_INFO},
			DESCRIPTION = #{DESCRIPTION},
			ACTIVE = #{ACTIVE},
			STATUS = #{STATUS},
			ATTR1 = #{ATTR1},
			ATTR2 = #{ATTR2},
			ATTR3 = #{ATTR3},
			ATTR4 = #{ATTR4},
			ATTR5 = #{ATTR5},
			ATTR6 = #{ATTR6},
		VALUATION_ID = VALUATION_ID
		where 
		VALUATION_ID = #{VALUATION_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			VALUATION_ID = #{VALUATION_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!-- 根据需求自己加检索条件 -->
				    FUND_ID LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				     or
				    PERIOD LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				     or
					EY_ACCOUNT_NUM LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					DESCRIPTION LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			VALUATION_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
</mapper>