<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GExportMapper">
    <select id="selectGData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
            G.EY_ACCOUNT_NUM as accountNum,
            G.AMOUNT_ADJ_CR as crAmountAdj,
            G.AMOUNT_ADJ_DR as drAmountAdj,
            G.AMOUNT_AUDIT_LAST as amountAuditLast
        FROM
            wp_g G
        where 
            1 = 1
        and G.STATUS = 'Y'
        and G.FUND_ID = #{fundId}
        and G.PERIOD = #{period}
    </select>
    
</mapper>