<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HExportMapper">

    <select id="selectHData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
            H.EY_ACCOUNT_NUM as accountNum,
            H.ITEM as item,
            IFNULL(H.TYPE, 'NULL') as type,
            H.AMOUNT_ADJ_CR as crAmountAdj,
            H.AMOUNT_ADJ_DR as drAmountAdj,
            H.AMOUNT_AUDIT_LAST as amountAuditLast
        FROM
            wp_h H
        where 
            1 = 1
        and H.STATUS = 'Y'
        and H.FUND_ID = #{fundId}
        and H.PERIOD = #{period}
    </select>
    
    <select id="selectH300Data" parameterType="java.util.Map" resultType="java.util.Map">
	    SELECT
		    H300.TYPE as type,
		    H300.SUBTYPE as subtype,
		    H300.COST as cost,
			H300.FAIR_VALUE as fairValue,
			H300.END_APPRECIATION as endAppreciation,
		    H300.BEGIN_APPRECIATION as beginAppreciation 
		FROM
		    wp_h300 H300
        where 
            1 = 1
        and H300.STATUS = 'Y'
        and H300.FUND_ID = #{fundId}
        and H300.PERIOD = #{period}
    </select>
    
    <select id="selectH300InterestRatePeriodsData" parameterType="java.util.Map" resultType="java.lang.String">
		SELECT
		    stl.REVEAL_NAME AS revealName 
		FROM
		    sys_term_line stl
		INNER JOIN sys_fund_info sfi ON sfi.INTEREST_RATE_PERIOD = stl.TERMHEAD_ID 
		WHERE
		    1 = 1 
		AND sfi.ACTIVE = 'Y' 
		AND sfi.FUND_ID = #{fundId}
		ORDER BY
		    stl.SORT
    </select>
    
    <select id="selectH400MainData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    'H400' as source,
		    H400M.PARTY_SHORT_NAME AS partyShortName,
		    H400M.RELATIONSHIP AS relationship,
		    H400M.`CODE` AS `code`,
		    H400M.`NAME` AS `name`,
		    H400M.TOTAL_COST AS totalCost,
		    H400M.MKT_VALUE_CLIENT AS mktValueClient,
		    H400M.APPRECIATION_CLIENT AS appreciationClient,
		    <!-- 以上部分共H300使用 -->
		    H400M.TYPE as type,
		    H400M.ACCOUNT_NUM as accountNum,
		    H400M.MARKET as market,
		    H400M.SUB_TYPE as subType,
		    H400M.QUANTITY as quantity,
		    H400M.UNIT_PRICE as unitPrice,
		    H400M.VAL_PRICE as valPrice,
		    H400M.RELEATED as releated,
		    H400M.THREE_LEVEL as threeLevel,
		    H400M.RESTRICT_TYPE as restrictType
		FROM
		    wp_h400_main H400M
		where 
            1 = 1
        and H400M.STATUS = 'Y'
        and H400M.FUND_ID = #{fundId}
        and H400M.PERIOD = #{period}
    </select>
    
    <select id="selectH400OptionData" parameterType="java.util.Map" resultType="java.util.Map">
	    SELECT
		    H400O.OPTION_CODE AS optionCode,
		    H400O.OPTION_NAME AS optionName 
		FROM
		    wp_h400_option H400O
		where 
            1 = 1
        and H400O.STATUS = 'Y'
        and H400O.FUND_ID = #{fundId}
        and H400O.PERIOD = #{period}
    </select>
    
    <select id="selectH500MainData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    'H500' as source,
		    H500M.PARTY_SHORT_NAME AS partyShortName,
		    H500M.RELATIONSHIP AS relationship,
		    H500M.BOND_CODE AS `code`,
		    H500M.BOND_NAME AS `name`,
		    H500M.TOTAL_COST AS totalCost,
		    H500M.MKT_VALUE_CLIENT AS mktValueClient,
		    H500M.APPRECIATION_CLIENT AS appreciationClient,
		    <!-- 以上部分共H300使用 -->
		    H500M.TYPE AS type,
		    H500M.ACCOUNT_NUM AS accountNum,
		    H500M.MARKET AS market,
		    H500M.SUB_TYPE AS subType,
		    H500M.QUANTITY AS quantity,
		    H500M.UNIT_PRICE AS unitPrice,
		    H500M.INTEREST_AR_CLIENT AS interestArClient,
		    H500M.VAL_PRICE AS valPrice,
		    H500M.UNIT_INTEREST_AT AS unitInterestAt,
		    H500M.RELEATED AS releated,
		    H500M.THREE_LEVEL AS threeLevel,
		    H500M.RESTRICT_TYPE AS restrictType,
		    H500M.EXPOSURE_PERIOD AS exposurePeriod
		FROM
		    wp_h500_main H500M
        where 
            1 = 1
        and H500M.STATUS = 'Y'
        and H500M.FUND_ID = #{fundId}
        and H500M.PERIOD = #{period}
    </select>
    
    <select id="selectH500DiviatonData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    H500MD.NET_AMOUNT AS netAmount,
		    H500MD.DIVIATON_CLIENT AS diviatonClient 
		FROM
		    wp_h500_mmf_diviaton H500MD
        where 
            1 = 1
        and H500MD.STATUS = 'Y'
        and H500MD.FUND_ID = #{fundId}
        and H500MD.PERIOD = #{period}
        LIMIT 1
    </select>
    
    <select id="selectH800MainData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    H800M.ACCOUNT_NUM AS accountNum,
		    H800M.ATTR3 AS `code`,
		    H800M.ATTR4 AS shortName,
		    H800M.ATTR5 AS market,
		    H800M.ATTR2 AS subType,
		    H800M.END_BALANCE_CNY AS endBalanceCny,
		    H800M.BEGIN_BALANCE_CNY AS beginBalanceCny 
		FROM
		    wp_h800_main H800M
		WHERE 
            1 = 1
        AND H800M.STATUS = 'Y'
        AND H800M.FUND_ID = #{fundId}
        AND H800M.PERIOD = #{period}
    </select>
    
    <select id="selectH800InterestTestData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    H800IT.ACCOUNT_NUM AS accountNum,
		    H800IT.ATTR3 AS `code`,
		    H800IT.ATTR4 AS shortName,
		    H800IT.ATTR5 AS market,
		    H800IT.ATTR2 AS subtype,
		    H800IT.EYINDEX AS `index`,
		    H800IT.END_BALANCE_CNY AS endBalanceCny,
		    H800IT.FIRST_ACCOUNT_DAY AS firstAccountDay,
		    H800IT.DUE_ACCOUNT_DAY AS dueAccountDay,
		    H800IT.DUE_AMOUNT AS dueAmount,
		    H800IT.BUY_OUT_BOND AS buyOutBond,
		    H800IT.VALUATION_DAY AS valuationDay,
		    H800IT.EXPOSURE_PERIOD AS exposurePeriod 
		FROM
		    wp_h800_interest_test H800IT
		WHERE 
            1 = 1
        AND H800IT.STATUS = 'Y'
        AND H800IT.FUND_ID = #{fundId}
        AND H800IT.PERIOD = #{period}
    </select>
    
    <select id="selectH800InterestDetailData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    H800ID.ACCOUNT_NUM as accountNum,
		    H800ID.ACCOUNT_DES as accountDes,
		    H800ID.BOND_CODE as bondCode,
		    H800ID.BOND_NAME as bondName,
		    H800ID.RETURN_DAY as returnDay,
		    H800ID.PRICE as price,
		    H800ID.QUANTITY as quantity,
		    H800ID.REDUCE_AMT as reduceAmt,
		    H800ID.VALUATION_PRICE as valuationPrice
		FROM
		    wp_h800_interest_test H800IT
		INNER JOIN wp_h800_intest_detail H800ID ON H800ID.HEAD_ID = H800IT.HEAD_ID AND H800ID.ACCOUNT_NUM = H800IT.ACCOUNT_NUM AND H800ID.`STATUS` = 'Y'
		WHERE 
            1 = 1
        AND H800IT.STATUS = 'Y'
        AND H800IT.FUND_ID = #{fundId}
        AND H800IT.PERIOD = #{period}
    </select>
    
    <select id="selectH800IntRiskPeriodData" parameterType="java.util.Map" resultType="java.lang.String">
		SELECT DISTINCT
		    H800EP.INT_RISK_PERIOD AS intRiskPeriod 
		FROM
		    wp_h800_exposure_period H800EP
		WHERE 
            1 = 1
        AND H800EP.STATUS = 'Y'
        AND H800EP.FUND_ID = #{fundId}
        AND H800EP.PERIOD = #{period}
    </select>
    
</mapper>