<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HExportMapper">

    <select id="selectHData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
            H.EY_ACCOUNT_NUM as accountNum,
            H.ITEM as item,
            IFNULL(H.TYPE, 'NULL') as type,
            H.AMOUNT_ADJ_CR as crAmountAdj,
            H.AMOUNT_ADJ_DR as drAmountAdj,
            H.AMOUNT_AUDIT_LAST as amountAuditLast
        FROM
            wp_h H
        where 
            1 = 1
        and H.STATUS = 'Y'
        and H.FUND_ID = #{fundId}
        and H.PERIOD = #{period}
    </select>
    
    <select id="selectH300Data" parameterType="java.util.Map" resultType="java.util.Map">
	    SELECT
		    H300.TYPE as type,
		    H300.SUBTYPE as subtype,
		    H300.COST as cost,
			H300.FAIR_VALUE as fairValue,
			H300.END_APPRECIATION as endAppreciation,
		    H300.BEGIN_APPRECIATION as beginAppreciation 
		FROM
		    wp_h300 H300
        where 
            1 = 1
        and H300.STATUS = 'Y'
        and H300.FUND_ID = #{fundId}
        and H300.PERIOD = #{period}
    </select>
    
    <select id="selectH300InterestRatePeriodsData" parameterType="java.util.Map" resultType="java.lang.String">
		SELECT
		    stl.REVEAL_NAME AS revealName 
		FROM
		    sys_term_line stl
		INNER JOIN sys_fund_info sfi ON sfi.INTEREST_RATE_PERIOD = stl.TERMHEAD_ID 
		WHERE
		    1 = 1 
		AND sfi.ACTIVE = 'Y' 
		AND sfi.FUND_ID = #{fundId}
		ORDER BY
		    stl.SORT
    </select>
    
    <select id="selectH400MainData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    'H400' as source,
		    H400M.PARTY_SHORT_NAME AS partyShortName,
		    H400M.RELATIONSHIP AS relationship,
		    H400M.`CODE` AS `code`,
		    H400M.`NAME` AS `name`,
		    H400M.TOTAL_COST AS totalCost,
		    H400M.MKT_VALUE_CLIENT AS mktValueClient,
		    H400M.APPRECIATION_CLIENT AS appreciationClient,
		    <!-- 以上部分共H300使用 -->
		    H400M.TYPE as type,
		    H400M.ACCOUNT_NUM as accountNum,
		    H400M.MARKET as market,
		    H400M.SUB_TYPE as subType,
		    H400M.QUANTITY as quantity,
		    H400M.UNIT_PRICE as unitPrice,
		    H400M.VAL_PRICE as valPrice,
		    H400M.RELEATED as releated,
		    H400M.THREE_LEVEL as threeLevel,
		    H400M.RESTRICT_TYPE as restrictType
		FROM
		    wp_h400_main H400M
		where 
            1 = 1
        and H400M.STATUS = 'Y'
        <if test="related != null and related != ''">
            AND H400M.RELEATED = #{related}
        </if>
        and H400M.FUND_ID = #{fundId}
        and H400M.PERIOD = #{period}
    </select>
    
    <select id="selectH400OptionData" parameterType="java.util.Map" resultType="java.util.Map">
	    SELECT
		    H400O.OPTION_CODE AS optionCode,
		    H400O.OPTION_NAME AS optionName 
		FROM
		    wp_h400_option H400O
		where 
            1 = 1
        and H400O.STATUS = 'Y'
        and H400O.FUND_ID = #{fundId}
        and H400O.PERIOD = #{period}
    </select>
    
    <select id="selectH500MainData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    'H500' as source,
		    H500M.PARTY_SHORT_NAME AS partyShortName,
		    H500M.RELATIONSHIP AS relationship,
		    H500M.BOND_CODE AS `code`,
		    H500M.BOND_NAME AS `name`,
		    H500M.TOTAL_COST AS totalCost,
		    H500M.MKT_VALUE_CLIENT AS mktValueClient,
		    H500M.APPRECIATION_CLIENT AS appreciationClient,
		    <!-- 以上部分共H300使用 -->
		    H500M.TYPE AS type,
		    H500M.ACCOUNT_NUM AS accountNum,
		    H500M.MARKET AS market,
		    H500M.SUB_TYPE AS subType,
		    H500M.QUANTITY AS quantity,
		    H500M.UNIT_PRICE AS unitPrice,
		    H500M.INTEREST_AR_CLIENT AS interestArClient,
		    H500M.VAL_PRICE AS valPrice,
		    H500M.UNIT_INTEREST_AT AS unitInterestAt,
		    H500M.RELEATED AS releated,
		    H500M.THREE_LEVEL AS threeLevel,
		    H500M.RESTRICT_TYPE AS restrictType,
		    H500M.EXPOSURE_PERIOD AS exposurePeriod
		FROM
		    wp_h500_main H500M
        where 
            1 = 1
        and H500M.STATUS = 'Y'
        <if test="related != null and related != ''">
            AND H500M.RELEATED = #{related}
        </if>
        and H500M.FUND_ID = #{fundId}
        and H500M.PERIOD = #{period}
    </select>
    
    <select id="selectH500DiviatonData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    H500MD.NET_AMOUNT AS netAmount,
		    H500MD.DIVIATON_CLIENT AS diviatonClient 
		FROM
		    wp_h500_mmf_diviaton H500MD
        where 
            1 = 1
        and H500MD.STATUS = 'Y'
        and H500MD.FUND_ID = #{fundId}
        and H500MD.PERIOD = #{period}
        LIMIT 1
    </select>
    
    <select id="selectH800MainData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    H800M.ACCOUNT_NUM AS accountNum,
		    H800M.ATTR3 AS `code`,
		    H800M.ATTR4 AS shortName,
		    H800M.ATTR5 AS market,
		    H800M.ATTR2 AS subType,
		    H800M.END_BALANCE_CNY AS endBalanceCny,
		    H800M.BEGIN_BALANCE_CNY AS beginBalanceCny 
		FROM
		    wp_h800_main H800M
		WHERE 
            1 = 1
        AND H800M.STATUS = 'Y'
        AND H800M.FUND_ID = #{fundId}
        AND H800M.PERIOD = #{period}
    </select>
    
    <select id="selectH800InterestTestData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    H800IT.ACCOUNT_NUM AS accountNum,
		    H800IT.ATTR3 AS `code`,
		    H800IT.ATTR4 AS shortName,
		    H800IT.ATTR5 AS market,
		    H800IT.ATTR2 AS subtype,
		    H800IT.EYINDEX AS `index`,
		    H800IT.END_BALANCE_CNY AS endBalanceCny,
		    H800IT.FIRST_ACCOUNT_DAY AS firstAccountDay,
		    H800IT.DUE_ACCOUNT_DAY AS dueAccountDay,
		    H800IT.DUE_AMOUNT AS dueAmount,
		    H800IT.BUY_OUT_BOND AS buyOutBond,
		    H800IT.VALUATION_DAY AS valuationDay,
		    H800IT.EXPOSURE_PERIOD AS exposurePeriod 
		FROM
		    wp_h800_interest_test H800IT
		WHERE 
            1 = 1
        AND H800IT.STATUS = 'Y'
        AND H800IT.FUND_ID = #{fundId}
        AND H800IT.PERIOD = #{period}
    </select>
    
    <select id="selectH800IntestSummaryData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    H800IS.ACCRUED_INTEREST_EY AS accruedInterestEy,
		    H800IS.ACCRUED_INTEREST_CLIENT AS accruedInterestClient,
		    H800IS.DIFF AS diff 
		FROM
		    wp_h800_intest_summary H800IS
		WHERE 
            1 = 1
        AND H800IS.STATUS = 'Y'
        AND H800IS.FUND_ID = #{fundId}
        AND H800IS.PERIOD = #{period}
        LIMIT 1
    </select>
    
    <select id="selectH800InterestDetailData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    H800ID.ACCOUNT_NUM as accountNum,
		    H800ID.ACCOUNT_DES as accountDes,
		    H800ID.BOND_CODE as bondCode,
		    H800ID.BOND_NAME as bondName,
		    H800ID.RETURN_DAY as returnDay,
		    H800ID.PRICE as price,
		    H800ID.QUANTITY as quantity,
		    H800ID.REDUCE_AMT as reduceAmt,
		    H800ID.VALUATION_PRICE as valuationPrice
		FROM
		    wp_h800_interest_test H800IT
		INNER JOIN wp_h800_intest_detail H800ID ON H800ID.HEAD_ID = H800IT.HEAD_ID AND H800ID.ACCOUNT_NUM = H800IT.ACCOUNT_NUM AND H800ID.`STATUS` = 'Y'
		WHERE 
            1 = 1
        AND H800IT.STATUS = 'Y'
        AND H800IT.FUND_ID = #{fundId}
        AND H800IT.PERIOD = #{period}
    </select>
    
    <select id="selectH800IntRiskPeriodData" parameterType="java.util.Map" resultType="java.lang.String">
		SELECT DISTINCT
		    H800EP.INT_RISK_PERIOD AS intRiskPeriod 
		FROM
		    wp_h800_exposure_period H800EP
		WHERE 
            1 = 1
        AND H800EP.STATUS = 'Y'
        AND H800EP.FUND_ID = #{fundId}
        AND H800EP.PERIOD = #{period}
    </select>
    
    <select id="selectHNoteAData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    HN.PAR_VALUE_LAST AS parValueLast,
		    HN.MKT_VALUE AS mktValue,
		    HN.VALUATION_PRICE_TOTAL AS valuationPriceTotal,
		    HN.SI_END_BAL AS siEndBal 
		FROM
		    wp_h_note HN
		WHERE 
            1 = 1
        AND HN.STATUS = 'Y'
        AND HN.FUND_ID = #{fundId}
        AND HN.PERIOD = #{period}
        LIMIT 1
    </select>
    
    <select id="selectH10000TFAData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    H10000T.ITEM AS item,
		    H10000T.SUB_ITEM AS subItem,
		    H10000T.COST AS cost,
		    H10000T.MKT_VALUE AS mktValue,
		    H10000T.APPRECIATION AS appreciation,
		    H10000T.DIVIATON AS diviaton,
		    H10000T.COST_LAST AS costLast,
		    H10000T.MKT_VALUE_LAST AS mktValueLast,
		    H10000T.APPRECIATION_LAST AS appreciationLast,
		    H10000T.DIVIATON_EY_LAST AS diviatonEyLast 
		FROM
		    wp_h10000_tfa H10000T
		WHERE 
            1 = 1
        AND H10000T.STATUS = 'Y'
        AND H10000T.FUND_ID = #{fundId}
        AND H10000T.PERIOD = #{period}
        AND H10000T.ITEM = '债券'
    </select>
    
    <select id="selectH10000TFADiviatonSumData" parameterType="java.util.Map" resultType="java.lang.Object">
	    SELECT
		    H500MD.DIVIATON_EY AS diviatonEy 
		FROM
		    wp_h500_mmf_diviaton H500MD 
		WHERE
		  1 = 1
	    AND H500MD.FUND_ID = #{fundId}
	    AND H500MD.PERIOD = #{period}
	    LIMIT 1
    </select>
    
    <select id="selectH10000DerivativeData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    H10000D.ITEM AS item,
		    H10000D.AMOUNT AS amount,
		    H10000D.ASSET AS asset,
		    H10000D.LIABILITIES AS liabilities,
		    H10000D.AMOUNT_LAST AS amountLast,
		    H10000D.ASSET_LAST AS assetLast,
		    H10000D.LIABILITIES_LAST AS liabilitiesLast 
		FROM
		    wp_h10000_derivative H10000D
		WHERE 
            1 = 1
        AND H10000D.STATUS = 'Y'
        AND H10000D.FUND_ID = #{fundId}
        AND H10000D.PERIOD = #{period}
    </select>
    
    <select id="selectH10000FuturesData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    H10000F.ITEM AS item,
		    H10000F.QUANTITY AS quantity,
		    H10000F.COST AS cost,
		    H10000F.MKT_VALUE AS mktValue 
		FROM
		    wp_h10000_futures H10000F
		WHERE 
            1 = 1
        AND H10000F.STATUS = 'Y'
        AND H10000F.FUND_ID = #{fundId}
        AND H10000F.PERIOD = #{period}
    </select>
    
    <select id="selectH10000RmcfsData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    H10000R.ITEM AS item,
		    H10000R.BAL_CURRENT AS balCurrent,
		    H10000R.BUY_OUT_CURRENT AS buyOutCurrent,
		    H10000R.BAL_LAST AS balLast,
		    H10000R.BUY_OUT_LAST AS buyOutLast 
		FROM
		    wp_h10000_rmcfs H10000R
		WHERE 
            1 = 1
        AND H10000R.STATUS = 'Y'
        AND H10000R.FUND_ID = #{fundId}
        AND H10000R.PERIOD = #{period}
    </select>
    
    <select id="selectH10000InterestDetailData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    H800ID.ACCOUNT_DES AS accountDes,
		    H800ID.BOND_CODE AS bondCode,
		    H800ID.BOND_NAME AS bondName,
		    H800ID.RETURN_DAY AS returnDay,
		    H800ID.PRICE AS price,
		    H800ID.QUANTITY AS quantity,
		    H800ID.AMOUNT AS amount,
		    H800ID.REDUCE_AMT AS reduceAmt 
		FROM
		    wp_h800_intest_detail H800ID
		WHERE 
            1 = 1
		AND H800ID.STATUS = 'Y'
        AND H800ID.FUND_ID = #{fundId}
        AND H800ID.PERIOD = #{period}
    </select>
    
    <select id="selectH10000FairValuesData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    H10000FV.EY_ACCOUNT_NUM AS eyAccountNum,
		    H10000FV.ITEM AS item,
		    H10000FV.AMOUNT_CURRENT AS amountCurrent,
		    H10000FV.AMOUNT_LAST AS amountLast 
		FROM
		    wp_h10000_fair_values H10000FV
        WHERE 
            1 = 1
		AND H10000FV.STATUS = 'Y'
        AND H10000FV.FUND_ID = #{fundId}
        AND H10000FV.PERIOD = #{period}
        ORDER BY
            H10000FV.SORT
    </select>
    
    <select id="selectH11000AdditianData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    H11000A.TYPE AS type,
		    H11000A.`CODE` AS `code`,
		    H11000A.`NAME` AS `name`,
		    DATE_FORMAT( H11000A.SUBSCRIBE_DATE, '%Y-%m-%dT00:00:00.000' ) AS subscribeDate,
		    DATE_FORMAT( H11000A.LIFTING_DATE, '%Y-%m-%dT00:00:00.000' ) AS liftingDate,
		    H11000A.RESTRICT_TYPE AS restrictType,
		    H11000A.SUBSCRIBE_PRICE AS subscribePrice,
		    H11000A.UNIT_PRICE AS unitPrice,
		    H11000A.QUANTITY AS quantity,
		    H11000A.TOTAL_COST AS totalCost,
		    H11000A.MKT_VALUE_CLIENT AS mktValueClient 
		FROM
		    wp_h11000_additian H11000A
		WHERE 
            1 = 1
        AND H11000A.STATUS = 'Y'
        AND H11000A.FUND_ID = #{fundId}
        AND H11000A.PERIOD = #{period}
        ORDER BY
            H11000A.`CODE`
    </select>
    
    <select id="selectH11000SuspensionData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    H11000S.STOCK_CODE AS stockCode,
		    H11000S.STOCK_NAME AS stockName,
		    DATE_FORMAT(H11000S.SUSPENSION_DATE, '%Y-%m-%dT00:00:00.000') AS suspensionDate,
		    H11000S.SUSPENSION_INFO AS suspensionInfo,
		    H11000S.UNIT_PRICE AS unitPrice,
		    DATE_FORMAT(H11000S.RESUMPTION_DATE, '%Y-%m-%dT00:00:00.000') AS resumptionDate,
		    H11000S.RESMPATION_OPEN_PRICE AS resmpationOpenPrice,
		    H11000S.QUANTITY AS quantity,
		    H11000S.TOTAL_COST AS totalCost,
		    H11000S.MKT_VALUE_CLIENT AS mktValueClient 
		FROM
		    wp_h11000_suspension H11000S
        WHERE 
            1 = 1
		AND H11000S.STATUS = 'Y'
        AND H11000S.FUND_ID = #{fundId}
        AND H11000S.PERIOD = #{period}
    </select>
    
    <select id="selectH11000SaleInData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    H11000SI.BOND_CODE AS bondCode,
		    H11000SI.BOND_NAME AS bondName,
		    DATE_FORMAT( H11000SI.RETURN_DAY, '%Y-%m-%dT00:00:00.000' ) AS returnDay,
		    H11000SI.PRICE AS price,
		    H11000SI.QUANTITY AS quantity,
		    H11000SI.AMOUNT AS amount 
		FROM
		    wp_h11000_sale_in H11000SI
        WHERE 
            1 = 1
		AND H11000SI.STATUS = 'Y'
        AND H11000SI.FUND_ID = #{fundId}
        AND H11000SI.PERIOD = #{period}
    </select>
    
    <select id="selectH11000NoteData" parameterType="java.util.Map" resultType="java.lang.String">
		SELECT
		    P600T.DUE_ACCOUNT_DAY AS dueAccountDay 
		FROM
		    wp_p600_test P600T 
		WHERE
		    1 = 1 
	    AND P600T.`STATUS` = 'Y' 
	    AND P600T.BUY_OUT_BOND = 'Note 1' 
        AND P600T.FUND_ID = #{fundId}
        AND P600T.PERIOD = #{period}
    </select>
    
</mapper>