<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="IRefinancingMapper">
	
	<!--表名 -->
	<sql id="tableName">
		EY_I_REFINANCING
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		IREFINANCING_ID,
		FIRM_CODE,
		FUND_ID,
		PERIOD,
		CONTRACT_NUM,
		BOND_CODE,
		BOND_NAME,
		TRX_DATE,
		DUE_DATE,
		UNIT_PRICE,
		QUANTITY,
		VAL_VALUE,
		MARKET
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{IREFINANCING_ID},
		#{FIRM_CODE},
		#{FUND_ID},
		#{PERIOD},
		#{CONTRACT_NUM},
		#{BOND_CODE},
		#{BOND_NAME},
		#{TRX_DATE},
		#{DUE_DATE},
		#{UNIT_PRICE},
		#{QUANTITY},
		#{VAL_VALUE},
		#{MARKET}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
		IREFINANCING_ID = #{IREFINANCING_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			FIRM_CODE = #{FIRM_CODE},
			FUND_ID = #{FUND_ID},
			PERIOD = #{PERIOD},
			CONTRACT_NUM = #{CONTRACT_NUM},
			BOND_CODE = #{BOND_CODE},
			BOND_NAME = #{BOND_NAME},
			TRX_DATE = #{TRX_DATE},
			DUE_DATE= #{DUE_DATE},
			UNIT_PRICE = #{UNIT_PRICE},
			QUANTITY = #{QUANTITY},
			VAL_VALUE = #{VAL_VALUE},
			MARKET = #{MARKET},
			IREFINANCING_ID = IREFINANCING_ID
		where 
			IREFINANCING_ID = #{IREFINANCING_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			IREFINANCING_ID = #{IREFINANCING_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!-- 根据需求自己加检索条件 -->
					FIRM_CODE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
						or 
					FUND_ID LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				    	or 
					BOND_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
						or 
					BOND_CODE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
						or
					CONTRACT_NUM  LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		<if test="pd.PERIOD != null and pd.PERIOD != ''">
		    and PERIOD = #{pd.PERIOD}
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
		IREFINANCING_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 批量新增-->
	<insert id="saveBatch" parameterType="java.util.List">
		insert into 
	        <include refid="tableName"></include>
		(
	        <include refid="Field"></include>
		) values 
		<foreach collection ="list" item="pd" index= "index" separator =",">
         (
		#{pd.IREFINANCING_ID},
		#{pd.FIRM_CODE},
		#{pd.FUND_ID},
		#{pd.PERIOD},
		#{pd.CONTRACT_NUM},
		#{pd.BOND_CODE},
		#{pd.BOND_NAME},
		#{pd.TRX_DATE},
		#{pd.DUE_DATE},
		#{pd.UNIT_PRICE},
		#{pd.QUANTITY},
		#{pd.VAL_VALUE},
		#{pd.MARKET}
         )
         </foreach >
	</insert>
	
</mapper>