<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PExportMapper">
    <select id="selectPData" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
		    P.EY_ACCOUNT_NUM AS accountNum,
		    p.REVEAL_ITEM as revealItem,
		    P.AMOUNT_CURRENT AS amountCurrent,
		    P.AMOUNT_ADJ_CR AS crAmountAdj,
		    P.AMOUNT_ADJ_DR AS drAmountAdj,
		    P.AMOUNT_AUDIT_LAST AS amountAuditLast
		FROM
		    wp_p P
        where 
            1 = 1
        and P.STATUS = 'Y'
        and P.FUND_ID = #{fundId}
        and P.PERIOD = #{period}
    </select>
    
    <select id="selectP300Data" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    P300.ATTR1 AS detailName,
		    IFNULL(P300.BEGIN_BALANCE_CNY,0) AS beginBalance,
		    IFNULL(P300.DR_AMOUNT_CNY,0) AS drAmount,
		    IFNULL(P300.CR_AMOUNT_CNY,0) AS crAmount,
		    P300.ATTR5 as disc
		FROM
		    wp_p300 P300
        where 
            1 = 1
        and P300.STATUS = 'Y'
        and P300.FUND_ID = #{fundId}
        and P300.PERIOD = #{period}
    </select>
    
    <select id="selectP400MainData" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            P400.ATTR1 AS detailName,
            IFNULL(P400.BEGIN_BALANCE_CNY,0) AS beginBalance,
            IFNULL(P400.DR_AMOUNT_CNY,0) AS drAmount,
            IFNULL(P400.CR_AMOUNT_CNY,0) AS crAmount,
            P400.ATTR5 as disc
        FROM
            wp_p400 P400
        where 
            1 = 1
        and P400.STATUS = 'Y'
        and P400.FUND_ID = #{fundId}
        and P400.PERIOD = #{period}
    </select>
    
    <select id="selectP400SummaryData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    P400S.ITEM as item,
		    P400S.CONTRACT_AMOUNT as contractAmount,
		    DATE_FORMAT(P400S.CONTRACT_FROM_DATE,'%Y-%m-%dT00:00:00.000') as contractBeginDate,
            DATE_FORMAT(P400S.CONTRACT_TO_DATE,'%Y-%m-%dT00:00:00.000') as contractEndDate,
		    P400S.PERIOD_EXPENSE as thisPeriodFee,
		    P400S.EXPENSE_ENTERED as incomeFee,
		    P400S.ACCURED_EXPENSE as quota,
		    P400S.DEFERRED_EXPENSE as amortization,
		    P400S.EXPENSE_DIRECT_ENTERED as directFee
		FROM
		    wp_p400_summary P400S
        where 
            1 = 1
        and P400S.STATUS = 'Y'
        and P400S.FUND_ID = #{fundId}
        and P400S.PERIOD = #{period}
    </select>
    
    <select id="selectP400DetailData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    P400D.PAPER as detailName,
		    P400D.CONFIRMATION_NUM as confirmationNum,
		    P400D.CONTRACT_AMOUNT as contractAmount,
		    DATE_FORMAT(P400D.CONTRACT_FROM_DATE,'%Y-%m-%dT00:00:00.000') as contractBeginDate,
		    DATE_FORMAT(P400D.CONTRACT_TO_DATE,'%Y-%m-%dT00:00:00.000') as contractEndDate,
		    P400D.TOTAL_DATE as contractTotalDays,
		    P400D.PERIOD_DATE as daysOfThisPeriod
		FROM
		    wp_p400_detail P400D
        where 
            1 = 1
        and P400D.ITEM = '信息披露费'
        and P400D.STATUS = 'Y'
        and P400D.FUND_ID = #{fundId}
        and P400D.PERIOD = #{period}
        order by
            P400D.SEQ
    </select>
    
    <select id="selectP500Data" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            P500.ATTR1 AS detailName,
            IFNULL(P500.BEGIN_BALANCE_CNY,0) AS beginBalance,
            IFNULL(P500.DR_AMOUNT_CNY,0) AS drAmount,
            IFNULL(P500.CR_AMOUNT_CNY,0) AS crAmount,
            P500.ATTR5 as disc
        FROM
            wp_p500 P500
        where 
            1 = 1
        and P500.STATUS = 'Y'
        and P500.FUND_ID = #{fundId}
        and P500.PERIOD = #{period}
    </select>
    
    <select id="selectP600Data" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
		    P600.ATTR3 as code,
		    P600.ATTR4 as shortName,
		    P600.ATTR5 as tradeMarket,
		    P600.ATTR2 as subType,
		    P600.BEGIN_BALANCE_CNY as beginBalance,
		    P600.END_BALANCE_CNY as endBalance
		FROM
		    wp_p600 P600
        where 
            1 = 1
        and P600.STATUS = 'Y'
        and P600.FUND_ID = #{fundId}
        and P600.PERIOD = #{period}
    </select>
    
        <select id="selectP600BankSumDataForReport" parameterType="java.util.Map" resultType="java.lang.Double">
        SELECT
            IF(SUM(P600.END_BALANCE_CNY) = 0, null, SUM(P600.END_BALANCE_CNY)) as endBalance
        FROM
            wp_p600 P600
        where 
            1 = 1
        and P600.STATUS = 'Y'
        and P600.ATTR5 = '银行间'
        and P600.FUND_ID = #{fundId}
        and P600.PERIOD = #{period}
        LIMIT 1
    </select>
    
    <select id="selectP600TestData" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
		    P600T.ATTR3 as `code`,
		    P600T.ATTR4 as simpleName,
		    P600T.ATTR5 as market,
		    P600T.ATTR2 as subType,
		    P600T.EY_INDEX as `index`,
		    P600T.END_BALANCE_CNY as endBalance,
		    P600T.FIRST_ACCOUNT_DAY as firstAccountDay,
		    P600T.DUE_ACCOUNT_DAY as dueAccountDay,
		    P600T.PERIOD_LEFT as periodLeft,
		    P600T.DUE_AMOUNT as dueAmount,
		    P600T.BUY_OUT_BOND as byOutBond,
		    P600T.VALUATION_DAY as valuationDay
		FROM
		    wp_p600_test P600T
		WHERE
		    1 = 1
        and P600T.STATUS = 'Y'
        and P600T.FUND_ID = #{fundId}
        and P600T.PERIOD = #{period}
    </select>
    
    <select id="selectP600TestSummaryData" parameterType="java.util.Map" resultType="java.util.Map">
	    SELECT
		    P600S.ACCRUED_INTEREST_EY AS accruedInterestEy,
		    P600S.ACCRUED_INTEREST_CLIENT AS accruedInterestClient,
		    P600S.DIFF AS diff 
		FROM
		    wp_p600_summary P600S
		WHERE
            1 = 1
        and P600S.STATUS = 'Y'
        and P600S.FUND_ID = #{fundId}
        and P600S.PERIOD = #{period}
        LIMIT 1
    </select>
    
    <select id="selectP600TestDetailData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    P600TD.HEAD_ID as headerId,
		    P600TD.BOND_CODE AS bondCode,
		    P600TD.BOND_NAME AS bondName,
		    P600TD.RETURN_DAY AS returnDay,
		    P600TD.PRICE AS price,
		    P600TD.QUANTITY AS quantity,
		    P600TD.AMOUNT AS amount,
		    P600T.BUY_OUT_BOND AS byOutBond 
		FROM
		    wp_p600_test P600T
		    INNER JOIN wp_p600_test_detail P600TD ON P600TD.HEAD_ID = P600T.HEAD_ID  AND P600TD.STATUS = 'Y' 
		WHERE
		    1 = 1 
        and P600T.STATUS = 'Y'
        and P600T.FUND_ID = #{fundId}
        and P600T.PERIOD = #{period}
    </select>
    
    <select id="selectP600ExposurePeriodData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    P600EP.PERIOD_LEFT as periodLeft,
		    P600EP.AMOUNT as amount
		FROM
		    wp_p600_exposure_period P600EP
		WHERE
		    1 = 1
        and P600EP.STATUS = 'Y'
        and P600EP.FUND_ID = #{fundId}
        and P600EP.PERIOD = #{period}
        ORDER BY P600EP.SORT
    </select>
    
    <select id="selectP800Data" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            P800.ATTR1 AS detailName,
            IFNULL(P800.BEGIN_BALANCE_CNY,0) AS beginBalance,
            IFNULL(P800.DR_AMOUNT_CNY,0) AS drAmount,
            IFNULL(P800.CR_AMOUNT_CNY,0) AS crAmount,
            P800.ATTR5 as disc
        FROM
            wp_p800 P800
        where 
            1 = 1
        and P800.STATUS = 'Y'
        and P800.FUND_ID = #{fundId}
        and P800.PERIOD = #{period}
    </select>
    
    <select id="selectP10000Data" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
            P10000.ITEM as item,
            IF(P10000.BEGIN_BALANCE = 0, null, P10000.BEGIN_BALANCE) as beginBalance,
            IF(P10000.END_BALANCE = 0, null, P10000.END_BALANCE) as endBalance
        FROM
            wp_p10000 AS P10000
        where 
            1 = 1
        and P10000.STATUS = 'Y'
        and P10000.FUND_ID = #{fundId}
        and P10000.PERIOD = #{period}
        ORDER BY P10000.SORT
    </select>
    
    <select id="selectP10000SumDataForReport" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
            IF(SUM(P10000.BEGIN_BALANCE) = 0, null, SUM(P10000.BEGIN_BALANCE)) as beginBalance,
            IF(SUM(P10000.END_BALANCE) = 0, null, SUM(P10000.END_BALANCE)) as endBalance
        FROM
            wp_p10000 AS P10000
        where 
            1 = 1
        and P10000.STATUS = 'Y'
        and P10000.FUND_ID = #{fundId}
        and P10000.PERIOD = #{period}
        LIMIT 1
    </select>
    
    <select id="checkIfP10000HasDataForReport" parameterType="java.util.Map" resultType="java.lang.Double"> 
        SELECT
            SUM(IFNULL(P10000.END_BALANCE, 0)) + SUM(IFNULL(P10000.BEGIN_BALANCE, 0))
        FROM
            wp_p10000 AS P10000
        where 
            1 = 1
        and P10000.STATUS = 'Y'
        and P10000.FUND_ID = #{fundId}
        and P10000.PERIOD = #{period}
    </select>
    
</mapper>