<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TExportMapper">

    <select id="selectTData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
		    T.EY_ACCOUNT_NUM as accountNum,
		    T.AMOUNT_CURRENT as amountCurrent,
		    T.AMOUNT_ADJ_CR as crAmountAdj,
		    T.AMOUNT_ADJ_DR as drAmountAdj,
		    T.AMOUNT_AUDIT_LAST as amountAuditLast
		FROM
		    wp_t T
		where 
		    1 = 1
		and T.STATUS = 'Y'
        and T.FUND_ID = #{fundId}
        and T.PERIOD = #{period}
    </select>
    
    <select id="selectExtraFundInfo" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    IFNULL(sfi.DATE_FROM,'2000-01-01') as dateFrom,
		    IFNULL(sfi.STRUCTURED,'N') as structured,
		    IFNULL(sfi.MF,'N') as mf,
		    IFNULL(sfi.ETF,'N') as etf,
		    IFNULL(sfi.COMPOUND,'单利') as compound,
		    IFNULL(sfi.NAV_ROUND, 4) as navRound,
		    sfi.ROR_BASELINE as rorBaseline,
		    sfi.ROR as ror,
		    sfi.LEVERAGE as leverage,
		    IFNULL(sfi.LOF,'N') as lof,
            IFNULL(sfi.INTEREST_SENSITIVITY,'N') as interestSensitivity
		FROM
		    SYS_FUND_INFO sfi
		WHERE
		    1 = 1
		AND sfi.ACTIVE = 'Y'
		AND sfi.FUND_ID = #{fundId}
		LIMIT 1
    </select>
    
    <select id="selectT300MainData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
            T300.`LEVEL` as `level`,
            T300.BEGIN_BALANCE_CNY as beginBalance,
            T300.DR_AMOUNT_CNY as drAmount,
            T300.CR_AMOUNT_CNY as crAmount,
            T300.BEGIN_UNITS as beginUnits,
            T300.DR_UNITS as drUnits,
            T300.CR_UNITS as crUnits
        FROM
            wp_t300 T300
        where 
            1 = 1
        and T300.STATUS = 'Y'
        and T300.FUND_ID = #{fundId}
        and T300.PERIOD = #{period}
    </select>
    
    <select id="selectT300NoteData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
            T300N.NOTE as note,
            T300N.ITEM1 as item1,
            T300N.ITEM2 as item2,
            T300N.ITEM3 as item3,
            T300N.ITEM4 as item4,
            T300N.ITEM5 as item5,
            T300N.ITEM6 as item6,
            T300N.ITEM7 as item7,
            T300N.ITEM8 as item8,
            T300N.ITEM9 as item9,
            T300N.ITEM10 as item10
        FROM
            wp_t300_drcr_note T300N
        where 
            1 = 1
        and T300N.STATUS = 'Y'
        and T300N.FUND_ID = #{fundId}
        and T300N.PERIOD = #{period}
    </select>
    
    <select id="selectT300RaiseData" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
		    sfri.`LEVEL` AS `level`,
		    sfri.AMOUNT AS amount,
		    sfri.UNITS AS units 
		FROM
		    sys_fund_raise_info sfri 
		WHERE
		    1 = 1 
		    AND sfri.FUND_ID = #{fundId}
		    AND sfri.ACTIVE = 'Y'
    </select>
    
    <select id="selectT300AdjData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
            T300A.SORT as sort,
            T300A.`LEVEL` as `level`,
            T300A.ITEM as item,
            T300A.UNITS as units,
            T300A.AMOUNT as amount,
            T300A.REFERENCE as reference,
            IF( T300A.ITEM = '本期末' OR T300A.ITEM LIKE '%折算前', 'Y', 'N' ) AS sumFlag 
        FROM
            wp_t300_adj T300A 
        WHERE
            1 = 1
        and T300A.STATUS = 'Y'
        and T300A.FUND_ID = #{fundId}
        and T300A.PERIOD = #{period}
        ORDER BY T300A.SORT
    </select>
    
    <select id="selectT310Data" parameterType="java.util.Map" resultType="java.util.Map"> 
		SELECT
		    T310.`LEVEL` as `level`,
		    T310.SEQ as seq,
		    IFNULL(DATE_FORMAT(T310.BONUS_DATE,'%Y-%m-%d'),'2000-01-01') as bonusDate,
		    IFNULL(DATE_FORMAT(T310.REGISTRATION_DATE,'%Y-%m-%d'),'2000-01-01') as registrationDate,
		    IFNULL(DATE_FORMAT(T310.LISTED_DIVIDEND_DATE,'%Y-%m-%d'),'2000-01-01') as listedDividendDate,
		    IFNULL(DATE_FORMAT(T310.UNLISTED_DIVIDEND_DATE,'%Y-%m-%d'),'2000-01-01') as unlistedDividendDate,
		    T310.BONUS as bonus,
		    T310.FUND_BEFORE_ALT as fundBeforeAlt,
		    T310.PROFIT_CLIENT as profitClent,
		    T310.FUND_AFTER_INVEST as fundAfterInvest,
		    T310.PL_UNREALIZED as plUnrealized,
		    T310.PL_REALIZED as plRealized,
		    T310.REINVEST_AMOUNT as reinvestAmount,
		    T310.CASH as cash
		FROM
		    wp_t310 T310
		WHERE
		    1 = 1
        and T310.STATUS = 'Y'
        and T310.FUND_ID = #{fundId}
        and T310.PERIOD = #{period}
        ORDER BY T310.SEQ
    </select>
    
    <select id="selectT400Data" parameterType="java.util.Map" resultType="java.util.Map"> 
		SELECT
		    T400.`LEVEL` as `level`,
		    T400.TYPE as type,
		    T400.ATTR1 as attr1,
		    T400.ATTR2 as attr2,
		    T400.ATTR3 as attr3,
		    T400.ATTR4 as attr4,
		    T400.ATTR5 as attr5,
		    T400.ATTR6 as attr6,
		    T400.ATTR7 as attr7,
		    T400.ATTR8 as attr8,
		    T400.ATTR9 as attr9,
		    T400.ATTR10 as attr10,
		    T400.ATTR11 as attr11,
		    T400.ATTR12 as attr12,
		    T400.ATTR13 as attr13,
		    T400.ATTR14 as attr14
		FROM
		    wp_t400 T400 
		WHERE
		    1 = 1
        and T400.STATUS = 'Y'
        and T400.FUND_ID = #{fundId}
        and T400.PERIOD = #{period}
    </select>
    
    <select id="selectT500MainData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    T500.TYPE AS type,
		    T500.ATTR1 AS attr1,
		    T500.ATTR2 AS attr2,
		    T500.ATTR3 AS attr3,
		    T500.ATTR4 AS attr4,
		    T500.ATTR5 AS attr5,
		    T500.ATTR6 AS attr6,
		    T500.ATTR7 AS attr7
		FROM
		    wp_t500 T500 
		WHERE
		    1 = 1
        and T500.STATUS = 'Y'
        and T500.FUND_ID = #{fundId}
        and T500.PERIOD = #{period}
    </select>
    
    <select id="selectT500NTestData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    T500N.`LEVEL` AS `level`,
		    T500N.COLLECTION_FUND AS collectionFund,
		    T500N.UNDIS_PROFIT AS undisProfit,
		    T500N.OWNER_EQUITY AS ownerEquity,
		    T500N.UNITS AS units,
		    T500N.NAV_CLIENT AS navClient 
		FROM
		    wp_t500_ntest T500N 
		WHERE
		    1 = 1
        and T500N.STATUS = 'Y'
        and T500N.FUND_ID = #{fundId}
        and T500N.PERIOD = #{period}
    </select>
    
    <select id="selectT500FTestData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		    T500F.ITEM as item,
		    T500F.DATE_TYPE as dateType,
		    IFNULL(DATE_FORMAT(T500F.DATE_FROM,'%Y-%m-%d'),'2000-01-01') as dateFrom,
		    T500F.UNITS as units,
		    T500F.NAV_CLIENT as navClient
		FROM
		    wp_t500_ftest T500F 
		WHERE
		    1 = 1
        and T500F.STATUS = 'Y'
        and T500F.FUND_ID = #{fundId}
        and T500F.PERIOD = #{period}
    </select>
    
    <select id="selectT11000P4104Data" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
            T110004.`LEVEL` as `level`,
            T110004.TYPE as type,
            T110004.ATTR1 as attr1,
            T110004.ATTR2 as attr2,
            T110004.ATTR3 as attr3,
            T110004.ATTR4 as attr4,
            T110004.ATTR5 as attr5,
            T110004.ATTR6 as attr6,
            T110004.ATTR7 as attr7
        FROM
            wp_t11000_4104 T110004
        WHERE
            1 = 1
        and T110004.STATUS = 'Y'
        and T110004.FUND_ID = #{fundId}
        and T110004.PERIOD = #{period}
    </select>
    
    <select id="selectT11000ProfitDistData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
            N800D.`LEVEL` as `level`,
            N800D.ITEM1 as attr1,
            N800D.ITEM2 as attr2,
            N800D.ITEM3 as attr3
        FROM
            wp_n800_dis N800D 
        WHERE
            1 = 1
        and N800D.STATUS = 'Y'
        and N800D.FUND_ID = #{fundId}
        and N800D.PERIOD = #{period}
    </select>
    
    <select id="selectT11000MainData" parameterType="java.util.Map" resultType="java.util.Map">
	    SELECT
		    T11000.`LEVEL` AS `level`,
		    T11000.SEQ AS seq,
		    T11000.REGISTRATION_DATE AS registrationDate,
		    T11000.LISTED_DIVIDEND_DATE AS listedDividendDate,
		    T11000.UNLISTED_DIVIDEND_DATE AS unlistedDividendDate,
		    T11000.BONUS_UNIT AS bonusUnit,
		    T11000.CASH_AMOUNT AS cashAmount,
		    T11000.REINVEST_AMOUNT AS reinvestAmount,
		    T11000.TOTAL_AMOUNT AS totalAmount,
		    T11000.REFERENCE AS reference 
		FROM
		    wp_t11000 T11000
		WHERE
            1 = 1
        AND T11000.STATUS = 'Y'
        AND T11000.FUND_ID = #{fundId}
        AND T11000.PERIOD = #{period}
        ORDER BY T11000.SEQ
    </select>

</mapper>