<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UExportMapper">
    <select id="selectUData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
            U.EY_ACCOUNT_NUM as accountNum,
            U.REVEAL_ITEM as item,
            U.AMOUNT_CURRENT as amountCurrent,
            U.AMOUNT_ADJ_CR as crAmountAdj,
            U.AMOUNT_ADJ_DR as drAmountAdj,
            U.AMOUNT_AUDIT_LAST as amountAuditLast
        FROM
            wp_u U
        where 
            1 = 1
        and U.STATUS = 'Y'
        and U.FUND_ID = #{fundId}
        and U.PERIOD = #{period}
    </select>
    
    <select id="selectU300MainData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
            U300.ATTR1 as item,
            U300.AMOUNT_CURRENT_CNY as amountCurrent,
            U300.AMOUNT_LAST_CNY as amountLast
        FROM
            wp_u300 U300
        where 
            1 = 1
        and U300.STATUS = 'Y'
        and U300.FUND_ID = #{fundId}
        and U300.PERIOD = #{period}
    </select>
    
    <select id="selectU300DividendData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
            U300D.ATTR2 as item,
            U300D.AMOUNT_CURRENT_CNY as amountCurrent,
            U300D.AMOUNT_LAST_CNY as amountLast
        FROM
            wp_u300_dividend U300D
        where 
            1 = 1
        and U300D.STATUS = 'Y'
        and U300D.FUND_ID = #{fundId}
        and U300D.PERIOD = #{period}
    </select>
    
    <select id="selectU300InterestData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
            U300I.ATTR2 as item,
            U300I.AMOUNT_CURRENT_CNY as amountCurrent,
            U300I.AMOUNT_LAST_CNY as amountLast
        FROM
            wp_u300_interest U300I
        where 
            1 = 1
        and U300I.STATUS = 'Y'
        and U300I.FUND_ID = #{fundId}
        and U300I.PERIOD = #{period}
    </select>
    
    <select id="selectFinSys" parameterType="java.util.Map" resultType="java.lang.String">
        SELECT DISTINCT
            IFNULL(sfi.FIN_SYSTEM, 'YSS') as FinSys
        FROM
            sys_fund_info sfi 
        WHERE
            sfi.FUND_ID = #{fundId}
        AND sfi.ACTIVE = 'Y'
        LIMIT 1
    </select>
    
    <select id="selectU320Data" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
            ts.TRANSACTION_DATE as transactionDate,
			ts.CURRENCY as currency,
			ts.EY_BUYSELL_TYPE as eyBuysellType,
			ts.EY_STOCKBOND_TYPE as eyStockbondType,
			ts.MARKET_FLAG as marketFlag,
			ts.STOCK_CODE as stockCode,
			ts.STOCK_NAME as stockName,
			ts.QUANTITY as quantity,
			ts.AMOUNT as amount,
			ts.SEAT_COMMISSION as seatCommission,
			ts.STAMPS as stamps,
			ts.BROKERAGE_FEE as brokerageFee,
			ts.TRANSFER_FEE as transferFee,
			ts.SEC_FEE as secFee,
			ts.CONTINGENCY_FEE as contingencyFee,
			ts.OTHER_FEE as otherFee,
			ts.BROKERAGE_TRANSFER_FEE as brokerageTransferFee,
			ts.BOND_INTEREST as bondInterest,
			ts.REPO_EARNINGS as repoEarnings,
			ts.NET_AMOUNT as netAmount,
			ts.TRX_TYPE as trxType,
			ts.MARKET as market,
			ts.AGENT as agent,
			ts.SEAT_NUM as seatNum,
			ts.AVERAGE_PRICE as averagePrice,
			ts.EY_SECURITY_CODE as eySecurityCode,
			ts.EY_SECURITY_NAME as eySecurityName
        FROM
            ey_trx_settlement ts
        where 
            1 = 1
        and ts.ACTIVE = 'Y'
        and ts.FUND_ID = #{fundId}
        and ts.PERIOD = #{period}
    </select>
    
    <select id="selectU400Data" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
            U400.ATTR1 as item,
            U400.AMOUNT_CURRENT_CNY as amountCurrent,
            U400.AMOUNT_LAST_CNY as amountLast
        FROM
            wp_u400 U400
        where 
            1 = 1
        and U400.STATUS = 'Y'
        and U400.FUND_ID = #{fundId}
        and U400.PERIOD = #{period}
    </select>
    
    <select id="selectU500MainData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
            U500.EY_ACCOUNT_NUM as accountNum,
            U500.ATTR1 as item,
            U500.ATTR5 as type,
            U500.AMOUNT_CURRENT_CNY as amountCurrent,
            U500.AMOUNT_LAST_CNY as amountLast
        FROM
            wp_u500 U500
        where 
            1 = 1
        and U500.STATUS = 'Y'
        and U500.FUND_ID = #{fundId}
        and U500.PERIOD = #{period}
    </select>
    
    <select id="selectU500TrxFeeData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
		    U500UTF.MARKET as market,
		    U500UTF.TRX_AMOUNT as trxAmount,
		    U500UTF.TRX_QUANTITY as trxQuantity,
		    U500UTF.AMOUNT_STOCK as amountStock,
		    U500UTF.RATE_STAMP as stampRate,
		    U500UTF.RATE_BROKERAGE as brokerageRate,
		    U500UTF.RATE_SEC as setRate,
		    U500UTF.RATE_TRANSFER as transferRate
		FROM
		    wp_u500_trx_fee U500UTF
        where 
            1 = 1
        and U500UTF.STATUS = 'Y'
        and U500UTF.FUND_ID = #{fundId}
        and U500UTF.PERIOD = #{period}
        order by
            U500UTF.SORT
    </select>
    
    <select id="selectU500TestData" parameterType="java.util.Map" resultType="java.util.Map"> 
	    SELECT
		    U500T.COMMISSION as commission,
		    U500T.TRX_FEE_CLIENT perClient
		FROM
		    wp_u500_test U500T
		where 
            1 = 1
        and U500T.STATUS = 'Y'
        and U500T.FUND_ID = #{fundId}
        and U500T.PERIOD = #{period}
        LIMIT 1
     </select>
     
     <select id="selectU600Data" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
            U600.ATTR1 as item,
            U600.AMOUNT_CURRENT_CNY as amountCurrent,
            U600.AMOUNT_LAST_CNY as amountLast,
            U600.ATTR5 as disc
        FROM
            wp_u600 U600
        where 
            1 = 1
        and U600.STATUS = 'Y'
        and U600.FUND_ID = #{fundId}
        and U600.PERIOD = #{period}
    </select>
    
    <select id="selectU10000InterestData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
            U10000RI.ITEM as item,
            U10000RI.AMOUNT_CURRENT as amountCurrent,
            U10000RI.AMOUNT_LAST as amountLast
        FROM
            wp_u10000_r_interest U10000RI
        where 
            1 = 1
        and U10000RI.STATUS = 'Y'
        and U10000RI.FUND_ID = #{fundId}
        and U10000RI.PERIOD = #{period}
        order by
            U10000RI.SORT
    </select>
    
    <select id="selectU10000ImportData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
		    U10000RI.COLUMN_NUM as 'column',
		    U10000RI.ITEM as item,
		    U10000RI.AMOUNT_CURRENT as amountCurrent,
		    U10000RI.AMOUNT_LAST as amountLast
		from
		    wp_u10000_r_import U10000RI
		where
		    1 = 1
		AND U10000RI.status = 'Y'
		AND U10000RI.U10000_TYPE = #{type}
		and U10000RI.FUND_ID = #{fundId}
        and U10000RI.PERIOD = #{period}
        order by
            U10000RI.SORT
    </select>
    
    <select id="selectU10000DividendData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
            U10000RD.ITEM as item,
            U10000RD.AMOUNT_CURRENT as amountCurrent,
            U10000RD.AMOUNT_LAST as amountLast
        FROM
            wp_u10000_r_dividend U10000RD
        where 
            1 = 1
        and U10000RD.STATUS = 'Y'
        and U10000RD.FUND_ID = #{fundId}
        and U10000RD.PERIOD = #{period}
        order by
            U10000RD.SORT
    </select>
    
    <select id="selectU10000OtherRData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
            U10000RO.ITEM as item,
            U10000RO.AMOUNT_CURRENT as amountCurrent,
            U10000RO.AMOUNT_LAST as amountLast
        FROM
            wp_u10000_r_other U10000RO
        where 
            1 = 1
        and U10000RO.STATUS = 'Y'
        and U10000RO.FUND_ID = #{fundId}
        and U10000RO.PERIOD = #{period}
        order by
            U10000RO.SORT
    </select>
    
    <select id="selectU10000TrxFeeData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
            U10000CTF.ITEM as item,
            U10000CTF.AMOUNT_CURRENT as amountCurrent,
            U10000CTF.AMOUNT_LAST as amountLast
        FROM
            wp_u10000_c_trx_fee U10000CTF
        where 
            1 = 1
        and U10000CTF.STATUS = 'Y'
        and U10000CTF.FUND_ID = #{fundId}
        and U10000CTF.PERIOD = #{period}
        order by
            U10000CTF.SORT
    </select>
    
    <select id="selectU10000OtherCData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
            U10000CO.ITEM as item,
            U10000CO.AMOUNT_CURRENT as amountCurrent,
            U10000CO.AMOUNT_LAST as amountLast
        FROM
            wp_u10000_c_other U10000CO
        where 
            1 = 1
        and U10000CO.STATUS = 'Y'
        and U10000CO.FUND_ID = #{fundId}
        and U10000CO.PERIOD = #{period}
        order by
            U10000CO.SORT
    </select>
</mapper>