<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="VExportMapper">

    <select id="selectV300Data" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
		    V300.TYPE as type,
		    V300.INT_RISK_PERIOD as intRiskPeriod,
		    IF(V300.AMOUNT = 0, null, V300.AMOUNT) as amount,
		    IF(V300.AMOUNT_LAST_CNY = 0, null, V300.AMOUNT_LAST_CNY) as amountLast,
		    V300.SORT as sort
		FROM
		    wp_v300 V300 
		WHERE
		    1 = 1 
		AND V300.STATUS = 'Y'
		AND V300.FUND_ID = #{fundId}
		AND V300.PERIOD = #{period}
    </select>
    
    <select id="selectV300IntRiskPeriodData" parameterType="java.util.Map" resultType="java.lang.String"> 
        SELECT DISTINCT
            V300.INT_RISK_PERIOD as intRiskPeriod
        FROM
            wp_v300 V300 
        WHERE
            1 = 1 
        AND V300.STATUS = 'Y'
        AND V300.FUND_ID = #{fundId}
        AND V300.PERIOD = #{period}
        ORDER BY
            V300.SORT
    </select>
    
    <select id="selectV400FundInfoData" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            IFNULL(sfi.INTEREST_SENSTVT_METHOD,'久期法') as interestSensitiveMethod,
		    sfi.RISK_VARIABLE as riskVariable,
		    sfi.INTEREST_SENSTVT_SOURSE as interestSenstvtSourse,
		    IFNULL(sfi.INTEREST_SENSITIVITY,'N') as interestSensitivity,
		    IFNULL(sfi.PRICE_SENSTVT_METHOD,'斜率法') as priceSensitiveMethod,
		    IFNULL(sfi.PRICE_SENSITIVITY,'N') as priceSensitivity,
            sfi.PRICE_SENSTVT_INDEX as priceSensitiveIndex,
            sfi.INDEX_SOURSE as indexSourse,
            sfi.BETA_SOURSE as betaSourse
		FROM
		    sys_fund_info sfi 
		WHERE
		    1 = 1
		AND sfi.FUND_ID = #{fundId}
		AND sfi.ACTIVE = 'Y'
		LIMIT 1
    </select>
    
    <select id="selectV400HypothesisData" parameterType="java.util.Map" resultType="java.lang.String">
        SELECT
		    CONCAT( sh.HYPOTHESIS_NUM, '. ', sh.DESCRIPTION ) AS description 
		FROM
		    sys_hypothesis sh 
		WHERE
		    1 = 1 
	    AND sh.FUND_ID = #{fundId}
	    AND sh.ACTIVE = 'Y' 
	    AND sh.HYPOTHESIS_TPYE = '利率'
		ORDER BY sh.HYPOTHESIS_NUM
    </select>
    
    <select id="selectV400HypothesisDataForReport" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            sh.HYPOTHESIS_NUM as hypothesisNum,
            sh.DESCRIPTION AS description 
        FROM
            sys_hypothesis sh 
        WHERE
            1 = 1 
        AND sh.FUND_ID = #{fundId}
        AND sh.ACTIVE = 'Y' 
        AND sh.HYPOTHESIS_TPYE = '利率'
        ORDER BY sh.HYPOTHESIS_NUM
    </select>
    
    <select id="selectV400DetailData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
		    V400D.BOND_CODE AS bondCode,
		    V400D.BOND_NAME AS bondName,
		    V400D.MARKET AS market,
		    V400D.MKT_VALUE_CNY AS marketValue,
		    V400D.WEIGHT AS weight,
		    V400D.DURATION AS duration,
		    V400D.CONVEXITY AS convexity 
		FROM
		    wp_v400_detail V400D 
		WHERE
		    1 = 1
        and V400D.STATUS = 'Y'
        and V400D.FUND_ID = #{fundId}
        and V400D.PERIOD = #{period}
    </select>
    
    <select id="selectV400SummaryData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
		    IF(V400S.SUM_MKT_VALUE = 0, null, V400S.SUM_MKT_VALUE) AS sumMktValue,
            IF(V400S.EXCHENGEABLE_BOND = 0, null, V400S.EXCHENGEABLE_BOND) AS exchengeableBond,
            IF(V400S.INFLUENCE_CLIENT1 = 0, null, V400S.INFLUENCE_CLIENT1) as influenceClient1,
            IF(V400S.INFLUENCE_CLIENT2 = 0, null, V400S.INFLUENCE_CLIENT2) as influenceClient2
		FROM
		    wp_v400_summary V400S
		WHERE
		    1 = 1
        and V400S.STATUS = 'Y'
        and V400S.FUND_ID = #{fundId}
        and V400S.PERIOD = #{period}
        LIMIT 1
    </select>
    
    <select id="selectV500InvertData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
		    V500I.ITEM as item,
		    V500I.MKT_VALUE_ENTERED as marketValueEntered,
		    V500I.PRICE_SENSITIVITY as priceSensitivity
		FROM
		    wp_v500_invest V500I
		where
		    1 = 1
        and V500I.STATUS = 'Y'
        and V500I.FUND_ID = #{fundId}
        and V500I.PERIOD = #{period}
    </select>
    
    <select id="selectV500riskExposureData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
		    V500RE.ITEM as item,
		    IF(V500RE.NET_VALUE = 0, null, V500RE.NET_VALUE) as netValue,
		    IF(V500RE.NET_VALUE = 0, null,  V500RE.AMOUNT_CURRENT) as amountCurrent,
		    IF(V500RE.NET_VALUE = 0, null,  V500RE.AMOUNT_LAST) as amountLast,
		    IF(V500RE.NET_VALUE = 0, null,  V500RE.RATE_LAST) as rateLast,
		    IF(V500RE.RATE_CURRENT = 0, null,  V500RE.RATE_CURRENT) as rateCurrent
		FROM
		    wp_v500_risk_exposure V500RE
	    where
            1 = 1
        and V500RE.STATUS = 'Y'
        and V500RE.FUND_ID = #{fundId}
        and V500RE.PERIOD = #{period}
    </select>
    
    <select id="selectV500riskExposureSumData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
            IF(SUM(V500RE.NET_VALUE) = 0, null, SUM(V500RE.NET_VALUE)) as netValue,
            IF(SUM(V500RE.AMOUNT_CURRENT) = 0, null, SUM(V500RE.AMOUNT_CURRENT)) as amountCurrent,
            IF(SUM(V500RE.AMOUNT_LAST) = 0, null, SUM(V500RE.AMOUNT_LAST)) as amountLast,
            IF(SUM(V500RE.RATE_LAST) = 0, null, SUM(V500RE.RATE_LAST)) as rateLast,
            IF(SUM(V500RE.RATE_CURRENT) = 0, null, SUM(V500RE.RATE_CURRENT)) as rateCurrent
        FROM
            wp_v500_risk_exposure V500RE
        where
            1 = 1
        and V500RE.STATUS = 'Y'
        and V500RE.FUND_ID = #{fundId}
        and V500RE.PERIOD = #{period}
        and V500RE.ITEM != '交易性金融资产-基金投资'
        LIMIT 1
    </select>

    <select id="selectV500HypothesisData" parameterType="java.util.Map" resultType="java.lang.String">
        SELECT
            CONCAT( sh.HYPOTHESIS_NUM, '. ', sh.DESCRIPTION ) AS description 
        FROM
            sys_hypothesis sh 
        WHERE
            1 = 1 
        AND sh.FUND_ID = #{fundId}
        AND sh.ACTIVE = 'Y' 
        AND sh.HYPOTHESIS_TPYE = '其他价格'
        ORDER BY sh.HYPOTHESIS_NUM
    </select>
    
    <select id="selectV500HypothesisDataForReport" parameterType="java.util.Map" resultType="java.util.Map">
       SELECT
            sh.HYPOTHESIS_NUM as hypothesisNum,
            sh.DESCRIPTION AS description 
        FROM
            sys_hypothesis sh 
        WHERE
            1 = 1 
        AND sh.FUND_ID = #{fundId}
        AND sh.ACTIVE = 'Y' 
        AND sh.HYPOTHESIS_TPYE = '其他价格'
        ORDER BY sh.HYPOTHESIS_NUM
    </select>
    
    <select id="selectV500DetailSlopeData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
		    V500DS.THX_DATE AS thxDate,
		    V500DS.UNIT_NETVALUE AS unitNetvalue,
		    V500DS.DIVIDENT AS divident,
		    V500DS.INDEX_QTY AS `index` 
		FROM
		    wp_v500_detail_slope V500DS
	    where
            1 = 1
        and V500DS.STATUS = 'Y'
        and V500DS.FUND_ID = #{fundId}
        and V500DS.PERIOD = #{period}
    </select>
    
    <select id="selectV500DetailBetaData" parameterType="java.util.Map" resultType="java.util.Map"> 
        SELECT
            V500DB.STOCK_CODE as stockCode,
			V500DB.STOCK_NAME as stockName,
			V500DB.MKT_VALUE as mktValue,
			V500DB.BETA as beta
        FROM
            wp_v500_detail_beta V500DB
        where
            1 = 1
        and V500DB.STATUS = 'Y'
        and V500DB.FUND_ID = #{fundId}
        and V500DB.PERIOD = #{period}
    </select>
    
    <select id="selectV500SummaryData" parameterType="java.util.Map" resultType="java.util.Map"> 
		SELECT
		    IF(V500S.INFLUENCE_CLIENT1 = 0, null, V500S.INFLUENCE_CLIENT1) as influenceClient1,
		    IF(V500S.INFLUENCE_CLIENT2 = 0, null, V500S.INFLUENCE_CLIENT2) as influenceClient2
		FROM
		    wp_v500_summary V500S
		WHERE
		    1 = 1
		and V500S.STATUS = 'Y'
        and V500S.FUND_ID = #{fundId}
        and V500S.PERIOD = #{period}
        LIMIT 1
    </select>

</mapper>